//
// Offsets
// --------------------------------------------------


// Insets
// -------------------------

$insets: (0, 10px,15px, 20px,30px, 38px,40px,43px,45px,60px,70px,75px, 102px);

@include indent-responsive(inset, left, padding-left, $grid-breakpoints, $insets);
@include indent-responsive(inset, right, padding-right, $grid-breakpoints, $insets);


// Elements
// -------------------------
 * + .row, * + .row{
   margin-top: 65px;
   @include media-breakpoint-up(md) {
     margin-top: 80px;

   }
 }

h3 + p{
  margin-top: 46px;
  @include media-breakpoint-up(lg) {
    margin-top: 86px;

  }
}
p + p{
  margin-top: 11px;
}
h5 + p{
  margin-top: 12px;
}
// Grid
// -------------------------


// Sections
// -------------------------


// Responsive
// -------------------------

$offsets: (0, 4px,5px,6px,7px,8px,9px, 10px,12px,13px,14px, 15px,17px,18px,19px,20px,21px,22px,23px,24px,25px,26px, 27px,28px, 30px,31px,32px,34px,35px,36px,37px,40px,43px, 47px,48px,50px,54px,55px,57px,58px,59px, 60px,62px, 64px,70px, 73px,75px,80px,85px,87px,88px,90px,96px,102px,104px,106px,109px,112px,115px,122px);

html .page{
  @include indent-responsive(offset, top, margin-top, $grid-breakpoints, $offsets);
}



// Range spacing
.row-0 {
  @include grid-offset(0px);
}

.row-15 {
  @include grid-offset(15px);
}

.row-20 {
  @include grid-offset(20px);
}

.row-30 {
  @include grid-offset(30px);
}

.row-40 {
  @include grid-offset(40px);
}

.row-50 {
  @include grid-offset(50px);
}

.row-60 {
  @include grid-offset(60px);
}

.row-70 {
  @include grid-offset(70px);
}

.row-80 {
  @include grid-offset(80px);
}

@include media-breakpoint-up(md) {

  .row-md-30 {
    @include grid-offset(30px);
  }

  .row-md-35 {
    @include grid-offset(35px);
  }

  .row-md-50 {
    @include grid-offset(50px);
  }

  .row-md-60 {
    @include grid-offset(60px);
  }
}

// Large ≥992px
@include media-breakpoint-up(lg) {

  .row-lg-30 {
    @include grid-offset(30px);
  }

  .row-lg-50 {
    @include grid-offset(50px);
  }

  .row-lg-60 {
    @include grid-offset(60px);
  }

  .row-lg-70 {
    @include grid-offset(70px);
  }
}