// Custom typography
// --------------------------------------------------

// Page header
// -------------------------

.page-header {
}

a {
  transition: .3s;
  &:hover {
    color: $color-emerland;
  }
}

p {
  margin: 0;
  padding: 0;
}

img {
  width: 100%;
  height: auto;
  max-width: 100%;
}

// Fonts
// -------------------------

.font-default {
  font-family: $font-family-base;
}

.font-sec {
  font-family: $font-family-sec;
}

// Basic Typography
// -------------------------

#{headings()} {
  margin-top: 0;
  margin-bottom: 0;
  font-family: $font-family-sec;
  color: $gray-darker;
}

h1,
.h1 {
  font-size: 36px;
  line-height: 1.2;

  @include media-breakpoint-up(md) {
    line-height: $h1-line-height;
    font-size: $h1-font-size;
  }
}

h2,
.h2 {
  font-size: 32px;
  line-height: 1.3;

  @include media-breakpoint-up(md) {
    line-height: $h2-line-height;
    font-size: $h2-font-size;
  }
}

h3,
.h3 {
  font-size: 28px;
  line-height: 1.3333;
  font-weight: 700;
  @include media-breakpoint-up(md) {
    line-height: $h3-line-height;
    font-size: $h3-font-size;
  }
}

h4,
.h4 {
  font-size: 24px;
  line-height: 1.5;

  @include media-breakpoint-up(md) {
    line-height: $h4-line-height;
    font-size: $h4-font-size;
  }
}

h5,
.h5 {
  font-size: 20px;
  line-height: 1.5;
  font-weight: 700;
  color: $gray-base;
  @include media-breakpoint-up(md) {
    line-height: $h5-line-height;
    font-size: $h5-font-size;
  }
  a:hover {
    color: $color-emerland;
  }
}

h6,
.h6 {
  font-size: 17px;
  line-height: 1.5;
  font-family: $font-family-base;
  @include media-breakpoint-up(md) {
    line-height: $h6-line-height;
    font-size: $h6-font-size;
  }
}

h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h6, .h6 {
  a {
    transition: .3s all ease;
  }

  a:hover {
    color: $primary;
  }

  .small {
    color: $gray-dark;
  }
}

p,
.p,
.list {
  a:hover {
    text-decoration: underline;
  }
}

.big {
  font-size: 18px;
}

small,
.small {
  font-size: $font-size-sm;
  line-height: floor(($font-size-sm * $line-height-small));
}

mark, .mark {
  background-color: $primary;
  padding: .1em;
}

// Lists
// -------------------------

ul,
ol {
  list-style: none;
  padding: 0;
  margin: 0;
}

.list {
  > li + li {
    margin-top: 10px;
  }
}

// List inline
//

.list-inline {
  margin: 0;
  padding: 0;

  > li {
    display: inline-block;
    padding: 0;
    margin: 0;

    & + li {
      margin-left: -6px;
    }
    //padding-left: 5px;
    //padding-right: 5px;
  }
  &-mod-1 {
    li + li {
      margin-left: 16px;
    }
  }

}

// Description Lists
dl {
  margin: 0;
}

// List terms
//

.list-terms {

  dt + dd {
    margin-top: 5px;
  }
  dd + dt {
    margin-top: 25px;
  }
}

// List index
//

.list-index {
  counter-reset: li;

  li {
    & + li {
      margin-top: 10px;
    }
    &.list-index-counter {
      &:before {
        color: $gray-dark;
        content: counter(li) ".";
        counter-increment: li;
        margin-right: 10px;
      }
    }
  }
}

// List marked
//

.list-marked {

  li {
    position: relative;
    padding-left: 25px;
    & + li {
      margin-top: 10px;
    }
    &:before {
      content: '\f105';
      font-family: "FontAwesome";
      display: inline-block;
      font-size: 14px;
      position: absolute;
      left: 0;
      top: 0;
      color: $gray-dark;
    }
  }
}

// Misc
// -------------------------

// Blockquotes
.quote {
  border: none;
  padding: 0;
  margin: 0;
  line-height: 24px;
  q {
    position: relative;
    &:before {
      position: absolute;
      top: -4px;
      left: -41px;
      content: "\f10d";
      font-size: 30px;
      font-family: "FontAwesome";
      color: $color-yellow;
      margin-right: 20px;
    }
  }
  cite {
    font-style: normal;
  }
}

.quote-2 {
  border: none;
  padding: 0;
  margin: 0;

  .media-variant-1 {
    line-height: 1;
    p {
      margin-top: 8px;
      font-size: 16px;
    }
  }
  .block-q {
    position: relative;
    background-color: $color-emerland;
    color: $white;
    padding: 30px 30px 50px;
    border-radius: 5px;
    line-height: 24px;
    box-shadow: 0 4px 0 0 #25a562;
    & + * {
      margin-top: 35px;
    }
    &:before {
      position: absolute;
      content: '';
      display: inline-block;
      width: 0;
      height: 0;
      bottom: -18px;
      left: 20px;
      border: 10px solid;
      border-color: transparent transparent $color-emerland $color-emerland;
      transform-origin: 0 0;
      transform: rotate(-45deg);
      box-shadow: -4px 4px 0 0 #25a562;
    }
  }
  q {
    position: relative;
    font-size: 16px;
    font-family: $font-family-base;
    font-weight: 400;
    &:before {
      display: block;
      content: "\f10d";
      font-size: 30px;
      font-family: "FontAwesome";
      margin-bottom: 17px;
    }
  }
  cite {
    font-style: normal;
  }
}

.quote-3 {
  border: none;
  font-family: $font-family-base;
  q {
    font-style: italic;
    font-size: 18px;
    color: $gray-darker;
    position: relative;
    &:before {
      position: absolute;
      top: -4px;
      left: -41px;
      content: "\f10d";
      font-size: 30px;
      font-family: "FontAwesome";
      color: $gray-light;
      margin-right: 20px;
      font-style: normal;
    }
  }
  cite {
    font-size: 16px;
    font-style: normal;
  }
  p:first-of-type {
    padding-left: 17px;
    line-height: 1.3;
  }
  p:nth-of-type(2) {
    padding-left: 18px;
  }
  &-mod-1 {
    margin: 0;

    q {
      font-style: normal;
      font-size: 20px;
      color: $white;
      font-family: $font-family-sec;
      font-weight: 700;
      line-height: 0.9;
      &:before {
        color: $color-yellow;
      }
    }

  }

  &-mod-2 {
    margin-bottom: 0;
  }
}

// Addresses
address {
  margin-top: 0;
  margin-bottom: 0;
}

// Backgrounds
// -------------------------

// Contextual backgrounds
//
.bg-gray-base {
  @include bg-variant-custom(#{$gray-base});
}

.bg-gray {
  @include bg-variant-custom(#{$gray});
}

.bg-gray-lighter {
  background-color: $gray-lighter;
}

.bg-downriver {
  background-color: $color-downriver;
}

.bg-image {
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  &-1 {
    background-image: url('../images/index-1-1920x630.jpg');
    position: relative;
    &:before {
      content: '';
      position: absolute;
      display: inline-block;
      height: 100%;
      width: 100%;
      top: 0;
      left: 0;
      background-color: rgba($color-downriver, 0.5);
      z-index: 0;
    }
    h2 {
      position: relative;
      z-index: 1;
      text-shadow: 0 3px rgba(0, 0, 0, .2);
    }
    @include media-breakpoint-up(xl) {
      &:before {
        display: none;
      }
    }
    &-mod-1 {
      background-image: url('../images/header-transparent-1-1920x709.jpg');
    }
  }

}

// Colors
// -------------------------
.txt-white {
  color: $white;
  * {
    color: $white;
  }
  &-20 {
    color: $white;
    opacity: .2;
  }

}

.txt-gray-darker {
  color: $gray-darker;
  &-35 {
    color: $gray-darker;
    opacity: .35;
  }
}

.txt-gray-dark {
  color: $gray-dark;
}

.txt-emerland {
  color: $color-emerland;
}

.txt-gray {
  color: $gray;
}

.txt-primary {
  color: $primary;
  a:hover {
    color: $color-emerland;
  }
}

.txt-yellow {
  color: $color-yellow;
  a {
    color: $color-yellow;

  }
  a:hover {
    color: $color-emerland;
  }
}

.txt-base {
  color: $gray-base;
}

a.txt-base:hover {
  color: $primary;
}

.txt-marked {
  background-color: $color-emerland;
  color: $white;
}

.txt-gray-light {
  color: $gray-light;
}

.txt-shake {
  color: $color-shake;
}

.txt-gray-lighter {
  color: $gray-lighter;
}

// Contextual colors
//

.page {
  @include text-emphasis-variant('.text-primary', $primary);
  @include text-emphasis-variant('.text-dark', $gray-dark);
  @include text-emphasis-variant('.text-gray', $gray);
  @include text-emphasis-variant('.text-white', $white);
}

//Project Block
///////////////
.project-block {
  border-radius: 6px;
  background-color: $white;
  overflow: hidden;
  max-width: 370px;
  margin: 0 auto;
  .project-left, .project-body {
    display: block;
  }
  .project-body {
    padding: 15px;
  }

  @include media-breakpoint-up(lg) {
    max-width: none;
    .project-left, .project-body {
      display: table-cell;
    }
    .project-left {
      img {
        max-width: none;
        width: auto;
      }
    }
    .project-body {
      padding: 50px 62px 0;
      vertical-align: top;
    }
  }
  .reveal-inline-block + .reveal-inline-block {
    margin-left: 45px;
  }
}

//Grid System
////////////////

.grid-wrapper {
  background-color: $gray-lighter;
  padding: 5px;
  border-radius: 6px;
  box-shadow: inset 0 -2px 0 0 rgba(0, 0, 0, .15);
  height: 100%;
  @include media-breakpoint-up(lg) {
    padding: 20px 30px;
  }
}

.grid-layout {

  // Small <576px
  @include media-breakpoint-down(xs) {
    .col-2 {
      padding: 0 5px;
      .grid-wrapper {
        padding: 0 5px;
      }

      &:first-of-type {
        padding-left: 15px;
      }
      &:last-of-type {
        padding-right: 15px;
      }
    }
    p {
      font-size: 12px;
    }
    .col-8 {
      max-width: 66.66667%;
      float: left;
      margin-top: 0;
    }
    .col-4 {
      max-width: 33.3333%;
      float: left;

    }

  }

  // Extra large <1200px
  @include media-breakpoint-down(lg) {
    p {
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
    }
  }

}

//Sidebar
//////////////////////

.sidebar {
  @include media-breakpoint-up(xl) {
    padding-left: 30px;
  }
  h6 {
    color: $white;
    font-family: $font-family-sec;
  }
  .tablet &, .mobile & {
    .rd-search {
      .form-input {
        padding: 9px 40px 9px 20px;
      }
    }
  }
  .rd-search {

    .form-wrap {
      position: relative;

      input {
        line-height: 2.2;
        padding: 9px 40px 9px 20px;
      }

      .icon {
        border: none;
        background-color: transparent;
        outline: none;
        font-size: 16px;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        right: 10px;
        &:hover {
          color: $color-shake;
        }
      }
    }

    .form-input {
      background-color: transparent;
      border-color: $white;
      color: $white;
      font-size: 16px;
      @include placeholder($white);
    }

    .form-label {
      color: $white;
      font-size: 16px;
    }
  }
  a {
    color: $color-yellow;
    &:hover {
      color: $color-shake;
    }
  }
  .list-marked {
    display: inline-block;
    li:before {
      color: $gray-dark;
    }
    & + .list-marked {
      margin-left: 68px;
    }
  }
  .meta {
    color: $gray-dark;
    font-style: italic;
    a {
      color: $gray-dark;
      margin-left: 10px;
      &:hover {
        color: $color-shake;
      }
    }
    span:nth-of-type(2) {
      margin-left: 6px;
    }
  }
  .block-time, .block-author {
    margin-top: 3px;
  }
  .block-time + .block-author {
    @include media-breakpoint-up(sm) {
      margin-left: 55px;
    }
  }
}

.blog-post {
  .caption {
    padding: 10px;
    @include media-breakpoint-up(sm) {
      padding: 30px;

    }
    &:nth-of-type(2) {
      padding: 10px;
      @include media-breakpoint-up(sm) {
        padding: 43px 20px 24px 30px;
      }
    }
  }
  .meta {
    .icon {
      margin-right: 10px;
    }
    .block-author {

      font-style: italic;
      @include media-breakpoint-up(sm) {
        margin-left: 50px;
      }
    }
  }
  q {
    color: $color-downriver;
    font-style: italic;
    font-weight: 700;
  }
  .list-inline {
    li + li {
      margin-left: 3px;
      @include media-breakpoint-up(sm) {
        margin-left: 6px;
      }

    }

  }
  a:hover {
    color: $color-shake;
  }
}

.link-reply {
  .icon {
    margin-right: 10px;
    transition: 0s;
  }
  color: $color-shake;
  &:hover {
    color: $primary;
  }
}

//Block Service
////////////////////////
.block-service {
  width: 100%;
  background-color: $color-downriver;
  border-radius: 6px;
  overflow: hidden;
  padding: 40px 10px;
  text-align: center;
  height: 100%;

  @include media-breakpoint-up(xl) {
    padding: 40px;
    min-height: 380px;
  }
  img {
    width: auto;
    transition: .2s;
  }
  .divider-xs-2 {
    margin-top: 25px;
  }
  h5 {
    margin-top: 9px;
  }
  a {
    color: $white;
    &:hover {
      color: $color-yellow;
    }

  }
  &:hover {
    img {
      transform: scale(1.1);
    }
  }
}
.tablet, .mobile{
  .block-service{
    min-height: 380px;
  }
}
//@keyframes img-
//animation {
//  from {
//    @include transform(scale(1))
//  }
//  50% {
//    @include transform(scale(1.2))
//  }
//  to {
//    @include transform(scale(1))
//  }
//}

//Block Career
//////////////////
.block-career {
  overflow: hidden;
  border-radius: 6px;
  box-shadow: inset 0 -5px 0 0 rgba(0, 0, 0, .15);
  color: $white;
  padding: 22px 30px 16px;
  transition: .2s;
  max-width: 270px;
  margin: 0 auto;
  ul {
    margin-top: 30px;
    span:nth-of-type(2) {
      margin-left: 10px;
    }
  }
  h5 {
    color: $white;
  }
  a {
    display: inline-block;
    margin-top: 34px;
    line-height: 0.6;
    color: $white;
  }
  a:hover {
    color: $color-yellow;
  }
  &.emerland {
    background-color: $color-emerland;
  }
  &.primary {
    background-color: $primary;
  }
  &.shake {
    background-color: $color-shake;
  }
  &:hover {
    background-color: $color-downriver;
  }
}

//Order Block
////////////////////

.order-block {
  padding: 20px;
  max-width: 470px;
  margin: 0 auto;
  @include media-breakpoint-up(xl) {
    padding: 30px;
  }
  .btn {
    margin-top: 15px;

    @media (min-width: 400px) {
      margin-top: 0;
      margin-left: 15px;
    }
  }
  @media (min-width: 400px) {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .btn-sm-2 {
    padding: 15px 33px;
    @include media-breakpoint-up(sm) {
      padding: 15px 43px;
    }
  }
}

.pricing-table {
  border-radius: 6px;
  overflow: hidden;
  background-color: $gray-lighter;
  transition: .3s;
  max-width: 270px;
  margin: 0 auto;
  &-head {
    transition: .3s;
    background-color: $color-emerland;
    color: $white;
    text-align: center;
    padding: 22px 12px;
    h5 {
      color: $white;
    }
    .price {
      margin-top: 16px;
      .h3 {
        color: $white;
        display: inline-block;
        position: relative;
        &:before {
          position: relative;
          left: -3px;
          top: -12px;
          content: "$";
          font-weight: 700;
          font-family: $font-family-sec;
          font-size: 20px;
        }
      }
      span {
        font-size: 20px;
      }
    }
  }
  &-body {
    padding: 41px 31px;
    ul {
      padding-left: 10px;
      span + span {
        margin-left: 14px;
      }
      li + li {
        margin-top: 16px;
      }
    }
    .btn-sm {
      padding: 15px 51px;
    }
  }
  &:hover {
    background-color: $color-downriver;
    .txt-gray-darker {
      color: $white;
    }
    .pricing-table-head {
      background-color: $color-shake;
    }
  }
}

.pricing-table-2 {
  border-radius: 6px;
  overflow: hidden;
  background-color: $color-downriver;
  transition: .3s;
  max-width: 270px;
  margin: 0 auto;
  &-head {
    transition: .3s;
    background-color: $color-shake;
    text-align: center;
    padding: 18px 12px;
    h5 {
      color: $white;
    }

  }
  .price {
    margin-top: 16px;
    .h3 {
      color: $white;
      display: inline-block;
      position: relative;
      &:before {
        position: relative;
        left: -3px;
        top: -12px;
        content: "$";
        font-weight: 700;
        font-family: $font-family-sec;
        font-size: 20px;
      }
    }
    span {
      font-size: 20px;
    }
  }
  &-body {
    padding: 23px 31px 30px;
    ul {
      padding-left: 10px;
      li {
        padding: 13px 0;
      }
      li + li {
        border-top: 1px solid rgba(255, 255, 255, 0.2);
      }
    }
    .btn-sm {
      padding: 15px 51px;
    }
  }
  &:hover {
    .pricing-table-2-head {
      background-color: $color-emerland;
    }
  }
}

.pricing-table-3 {
  display: inline-block;
  border-radius: 6px;
  overflow: hidden;
  z-index: 2;
  position: relative;
  //position: absolute;
  top: 0;
  left: 0;
  transition: .3s;
  //max-width: 270px;
  @include media-breakpoint-up(xl) {
    display: block;
  }
  //margin: 0 auto;
  &-head {
    transition: .3s;
    text-align: center;
    padding: 35px 12px 0;
    h5 {
      color: $color-emerland;
    }
    .divider-xs-4 {
      margin-top: 4px;
    }
  }
  .price {
    text-align: center;
    transition: .3s;
    .h3 {
      color: $gray-darker;
      display: inline-block;
      position: relative;
      &:before {
        position: relative;
        left: -3px;
        top: -12px;
        content: "$";
        font-weight: 700;
        font-family: $font-family-sec;
        font-size: 20px;
      }
    }
    span {
      font-size: 20px;
    }
  }
  .price-small {
    position: absolute;
    top: 61%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    opacity: 0;
    transition: .3s;
    text-align: center;
    text-decoration: line-through;
  }
  &-body {
    text-align: center;
    position: relative;
    padding: 16px 31px 30px;
    ul {
      padding-left: 10px;
      li {
        padding: 13px 0;
      }
      li + li {
        border-top: 1px solid rgba(66, 67, 67, 0.2);
      }
    }
    .btn-sm {
      padding: 15px 51px;

    }
  }
  &:hover {
    background-color: $gray-lighter;
    box-shadow: inset 0 -5px 0 0 rgba(0, 0, 0, .15);
    border-color: transparent;
    margin: -30px;
    .price-small {
      opacity: 1;
      visibility: visible;
    }
    .price {
      margin-top: 55px;
    }
    .pricing-table-3-head {
      background-color: $color-emerland;
      h5 {
        color: $white;
      }
    }
  }
  border: 1px solid $gray-light;
  @include media-breakpoint-up(xl) {
    border:none;
  }
}

.tablet, .mobile {
  .pricing-table-3 {
    border: 1px solid $gray-light;
  }
}

.row-pricing-table {
  position: relative;
  [class*="cell-"] {
    position: relative;
  }
  &:before {
    position: absolute;
    content: '';
    border-radius: 6px;
    border: 2px solid $gray-light;
    left: 10px;
    right: 10px;
    top: 0;
    bottom: 0;
    display: none;
    z-index: 0;
    @include media-breakpoint-up(xl) {
      display: inline-block;
      max-height: 447px;
    }
    @media (min-width: 1400px) {
      left: 0;
      right: 0;
    }
  }
}

//Team member block
.team-member-block {
  .photo-block {
    border-radius: 6px;
    background-color: $gray-lighter;
    padding: 10px 10px 14px;
    box-shadow: inset 0 -5px 0 0 rgba(0, 0, 0, .15);
    img {
      border-radius: 2px;
    }
  }

  a.txt-gray-darker:hover {
    color: $primary;
  }
}

//Modal video
.modal.in .modal-dialog, .modal.fade .modal-dialog {
  position: absolute;
  left:10px;
  right: 10px;
  top:50%;
  transform:  translateY(-50%);
  @include media-breakpoint-up(xl) {
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    max-width: 98%;
    right: auto;
  }
}

.modal.show {
  display: flex !important;
  align-items: center;
  justify-content: center;
}

.modal-dialog {
  width: 100%;
}

.modal-video {
  .modal-body {
    margin: 0;
  }
}

.modal-body{
  margin: 0 auto;
  height: 400px;
  iframe{
    //display: inline-block;
    max-width: 100%;
    width: 100%;
    height: 100%;
    //margin: 0 auto;
  }
}
.mobile{
  .modal-dialog{
    height: 100vh;
  }
}
.sitemap {
  text-transform: capitalize;
}

.address {
  position: relative;
  span {
    position: absolute;
    top: 1px;
    left: 0;
  }
  .link-block {
    display: inline-block;
    padding-left: 29px;
  }
}

.banner {
  display: inline-block;
  max-width: 340px;
  margin: 0 auto;
  @include media-breakpoint-up(lg) {
    max-width: none;
  }
}

blockquote {
  padding: 12px 24px;
  margin: 0;
  font-size: 20px;
  border-left: 5px solid #f7f8fb;
}