section.section-50.section-lg-120
	.container
		h3.divider-sm-mod-1.divider-sm.text-center The Main Areas of Work
		.row.row-40.text-center
			.col-lg-3.col-sm-6
				span.icon.icon-lg-round.icon-yellow-round.icon-shadow.mdi-spellcheck
				h5.offset-top-15.offset-lg-top-25.txt-gray-darker  Copywriting

			.col-lg-3.col-sm-6
				span.icon.icon-lg-round.icon-emerland-round.icon-shadow.mdi-chart-bar
				h5.offset-top-15.offset-lg-top-25.txt-gray-darker SEO Optimization

			.col-lg-3.col-sm-6
				span.icon.icon-lg-round.icon-shake-round.icon-shadow.mdi-share-variant
				h5.offset-top-15.offset-lg-top-25.txt-gray-darker Social Media Marketing

			.col-lg-3.col-sm-6
				span.icon.icon-lg-round.icon-primary-round.icon-shadow.mdi-palette
				h5.offset-top-15.offset-lg-top-25.txt-gray-darker Web Design