section.section-50.section-lg-120.bg-downriver
	.container
		h3.divider-sm-mod-1.divider-sm.text-center.txt-white Cases
		.row.row-30
			.col-md-6.col-lg-12
				.project-block
					.project-left
						img(src="images/projects-1-370x318.jpg" alt="" width="370" height="318")
					.project-body.text-center.text-lg-left
						h5.txt-primary
							a(href="#") Economics & Strategy for Business
						p To be successful, your company needs not only to be promoted on the Internet. A successful business owner also has to understand how business and financial strategies work. Let’s examine this question in detail.
						.d-inline-block.offset-xl-top-54.offset-top-20
							.h4.txt-primary -3%
							p Expenses
						.d-inline-block
							.h4.txt-emerland +17%
							p Profit
						a(href="#").btn.btn-sm-3.btn-shake.btn-icon.btn-icon-left.btn-shadow.btn-rect.pull-md-right.offset-xl-top-54.offset-top-20.d-block.d-md-inline-block
							span.icon.icon-md.mdi-presentation
							span  more details

			.col-md-6.col-lg-12
				.project-block
					.project-left
						img(src="images/projects-2-370x318.jpg" alt="" width="370" height="318")
					.project-body.text-center.text-lg-left
						h5.txt-primary
							a(href="#") Project Management
						p Project management is an application of professional knowledge and skills to certain project activities. This term also includes managing your subordinates that may be both experienced and new, but must be qualified to complete the project.
						.d-inline-block.offset-xl-top-54.offset-top-20
							.h4.txt-primary -4%
							p Expenses
						.d-inline-block
							.h4.txt-emerland +7%
							p Profit
						a(href="#").btn.btn-sm-3.btn-shake.btn-icon.btn-icon-left.btn-shadow.btn-rect.pull-md-right.offset-xl-top-54.offset-top-20.d-block.d-md-inline-block
							span.icon.icon-md.mdi-presentation
							span  more details

			.col-md-6.col-lg-12
				.project-block
					.project-left
						img(src="images/projects-3-370x318.jpg" alt="" width="370" height="318")
					.project-body.text-center.text-lg-left
						h5.txt-primary
							a(href="#") Partnership — The Heart of Business
						p Partnership is always the key reason of any company’s success. Each partner contributes a lot of resources (money, labor, skill etc.) to all aspects of the business, making it more sustainable.
						.d-inline-block.offset-xl-top-54.offset-top-20
							.h4.txt-primary -5%
							p Expenses
						.d-inline-block
							.h4.txt-emerland +10%
							p Profit
						a(href="#").btn.btn-sm-3.btn-shake.btn-icon.btn-icon-left.btn-shadow.btn-rect.pull-md-right.offset-xl-top-54.offset-top-20.d-block.d-md-inline-block
							span.icon.icon-md.mdi-presentation
							span  more details

		.text-center.offset-top-55: +pagination()