extends  ../_skeleton

block variables
	- var activeIndex = 2
	- var page_active="About us"
	- var page_active_h1="About Us"


block title
	title About

block page
	// Page Header
	include ../elements/_header

	+breadcrumbs(1, "")

	//Section A Few Words About Us
	include ../sections/about/_section_about-1
	//Section Counters
	include ../sections/about/_section_about-2
	//Section Our Mission
	include ../sections/about/_section_about-3
	//Section Our team
	include ../sections/about/_section_about-4

	// Page Footer
	include ../elements/_footer