extends  ../_skeleton

block variables
	- var activeIndex = 5
	- var page_active="Clients"
	- var page_active_h1="Clients"

block title
	title Clients

block page
	// Page Header
	include ../elements/_header

	+breadcrumbs(2, "Pages")
	//Section Our Satisfied Clients
	include ../sections/pages/_section_clients_1
	//Section Our Clients
	include ../sections/index/_section_index-8
	//Section 3 Columns Clients
	include ../sections/pages/_section_clients_3
	//Section Clients & Testimonials
	include ../sections/pages/_section_clients_4
	// Section Testimonials
	include ../sections/pages/_section_clients-5

	// Page Footer
	include ../elements/_footer