extends  ../_skeleton

block variables
	- var activeIndex = 5

block title
	title Under Construction

block page
	.page-404.page-404-mod-1
		// Page Header
		header.page-head.section-top-30.section-lg-bottom-50
			// RD Navbar Brand
			.rd-navbar-brand
				a.brand-name(href='index.html')
					+png('logo-inverse-169x42')

		section.section-top-50
			.container
				h3.divider-sm.divider-sm-mod-1 Our Website Is Under Construction
				.row.justify-content-center.offset-top-80
					.col-md-8.col-lg-6
						// Progress Bar
						+progress-bar-linear({
							mod: 'progress-bar-style-1 progress-bar-shake',
							valueTo: "45"
						})
						.btn-group-custom-3.offset-top-122
							a(href="index.html").btn.btn-sm.btn-primary.btn-icon.btn-icon-left.btn-shadow.btn-rect.offset-top-30
								span.icon.icon-md.mdi-arrow-left-bold
								span  back to homepage
							a(href="contacts.html").btn.btn-sm.btn-white.btn-icon.btn-icon-left.btn-shadow.btn-rect.offset-top-30
								span.icon.icon-md.mdi-email-outline
								span contact us

		// Page Footer
		footer.page-foot.section-50
			p.privacy
				| SeoAgent &#169;
				=" "
				span(class="copyright-year")
				| .
				=" "
				a(href="privacy.html") Privacy Policy