extends  ../_skeleton

include ../mixins/_mixin_services
block variables
  - var activeIndex = 3
  - var page_active="Content Marketing Management"
  - var page_active_h1="Content Marketing<br class='veil reveal-lg-inline'> Management"

  - var services=[{src:"services-2-240x194",href:"search_engine.html",title:"Search Engine Optimization"}, {src: "services-3-240x194", href: "social_media.html", title: "Social Media Management"}, {src: "services-4-240x194", href: "mail_marketing.html", title: "Email Marketing"}, {src: "services-5-240x194", href: "management.html", title: "Brand Reputation Management"}, {src: "services-6-240x194", href: "web_design.html", title: "Web Design and Development"},{src: "services-8-240x194", href: "advertising.html", title: "PPC Advertising Campaigns"}, {src: "services-9-240x194", href: "contextual.html", title: "Contextual Advertising"},{src: "services-10-240x194", href: "local_seo.html", title: "Local SEO"}]
block title
  title Content Marketing Management

block page
  // Page Header
  include ../elements/_header


    +breadcrumbs(2, "Services")
    //Section Content Marketing
    include ../sections/services/_section_content_marketing-1
    //Section Our content experts
    include ../sections/services/_section_content_marketing-2
    //Section testimonials
    include ../sections/services/_section_management-3
    //Section Other Services
    include ../sections/services/_section_management-4


  // Page Footer
  include ../elements/_footer