extends  ../_skeleton


block variables
	- var activeIndex = 5

block title
	title Corporate Header, Light Widget Footer

block page
	// Page Header
	include ../elements/_header

	include ../sections/index/_section_index-1
	//Section  Online Reputation Management
	include ../sections/index/_section_index-2
	//Section Latest Blog Posts
	include ../sections/index/_section_index-10

	// Page Footer
	include ../elements/_footer