extends  ../_skeleton

block variables
	- var activeIndex = 7
	- var page_active="Classic Blog"
	- var page_active_h1="Classic Blog"

block title
	title Classic Blog

block page
	// Page Header
	include ../elements/_header

	+breadcrumbs(2, "Blog")
	include ../sections/blog/_section_default_blog-1

	// Page Footer
	include ../elements/_footer