extends  ../_skeleton

block variables
	- var activeIndex = 5
	- var page_active="FAQ"
	- var page_active_h1="FAQ"

block title
	title FAQ

block page
	// Page Header
	include ../elements/_header

	+breadcrumbs(2, "Pages")
	//Section Some of Your Questions
	include ../sections/pages/_section_faq_1
	//Section FAQs
	include ../sections/pages/_section_faq_2

	// Page Footer
	include ../elements/_footer