extends  ../_skeleton

block variables
	- var activeIndex = 5
	- var page_active="Forms"
	- var page_active_h1="Forms"

block title
	title Forms

block page
	// Page Header
	include ../elements/_header

	+breadcrumbs(2, "Elements")
	//Section Buttons
	include ../sections/elements/_section_forms-1

	// Page Footer
	include ../elements/_footer