extends  ../_skeleton

block variables
	- var activeIndex = 6
	- var page_active="Grid Gallery"
	- var page_active_h1="Gallery"

block title
	title Grid Gallery

block page
	// Page Header
	include ../elements/_header

	+breadcrumbs(2, "Gallery")
	//Section Grid gallery
	include ../sections/gallery/_section_grid_gallery-1

	// Page Footer
	include ../elements/_footer