extends  ../_skeleton


block variables
	- var activeIndex = 1

block title
	title Home

block page
	// Page Header
	include ../elements/_header

	include ../sections/index/_section_index-1
	//Section  Online Reputation Management
	include ../sections/index/_section_index-2
	//Section Promote Your Brand
	include ../sections/index/_section_index-3
	//Section Why People Choose Us
	include ../sections/index/_section_index-4
	//Section Our Team
	include ../sections/index/_section_index-5
	//Section Recent Cases
	include ../sections/index/_section_index-6
	// Section Testimonials
	include ../sections/index/_section_index-7
	//Section Our Clients
	include ../sections/index/_section_index-8
	//Section Perfect Solution For All Your
	include ../sections/index/_section_index-9
	//Section Latest Blog Posts
	include ../sections/index/_section_index-10

	// Page Footer
	include ../elements/_footer