extends  ../_skeleton

include ../mixins/_mixin_services
block variables
	- var activeIndex = 3
	- var page_active="Local SEO"
	- var page_active_h1="Local SEO"

	- var services=[{src:"services-2-240x194",href:"search_engine.html",title:"Search Engine Optimization"}, {src: "services-3-240x194", href: "social_media.html", title: "Social Media Management"}, {src: "services-4-240x194", href: "mail_marketing.html", title: "Email Marketing"}, {src: "services-5-240x194", href: "management.html", title: "Brand Reputation Management"}, {src: "services-6-240x194", href: "web_design.html", title: "Web Design and Development"},{src: "services-7-240x194", href: "content_marketing.html", title: "Content Marketing Management"},{src: "services-8-240x194", href: "advertising.html", title: "PPC Advertising Campaigns"}, {src: "services-9-240x194", href: "contextual.html", title: "Contextual Advertising"}]
block title
	title Local SEO

block page
	// Page Header
	include ../elements/_header

	+breadcrumbs(2, "Services")
	//Section Mail Marketing
	include ../sections/services/_section_local_seo-1
	//Section Email marketing
	include ../sections/services/_section_local_seo-2
	//Section testimonials
	include ../sections/services/_section_management-3
	//Section Other Services
	include ../sections/services/_section_management-4

	// Page Footer
	include ../elements/_footer