extends  ../_skeleton

block variables
	- var activeIndex = 5
	- var page_active="Login/Register"
	- var page_active_h1="Login/Register"

block title
	title Login/Register

block page
	// Page Header
	include ../elements/_header

	+breadcrumbs(2, "Pages")
	//Section Login and Register
	include ../sections/pages/_section_login_1

	// Page Footer
	include ../elements/_footer