extends  ../_skeleton

block variables
	- var activeIndex = 5

block title
	title Maintenance

block page
	.page-404
		// Page Header
		header.page-head.section-top-30.section-lg-bottom-50
			// RD Navbar Brand
			.rd-navbar-brand
				a.brand-name(href='index.html')
					+png('logo-inverse-169x42')

		section.section-top-50
			.container
				h3.divider-sm.divider-sm-mod-1 Our Website Is Currently Under Maintenance
				p This page will appear in
				.countdown-wrapper.offset-top-57
					// Countdown
					.DateCountdown(data-type='until', data-date='2016-12-31 23:59:59', data-format='wdhms', data-bg='#fff', data-color='#fdc00f', data-bg-width='1', data-width='0.05')

				.row.justify-content-center.offset-lg-top-115.offset-top-55
					.col-md-8.col-lg-6
						p Stay tuned and subscribe to our newsletter
						form.rd-mailform.offset-top-15.subscribe-form.text-center.subscribe-form-mod-1(data-form-output="form-output-global", data-form-type='subscribe', method='post', action='bat/rd-mailform.php')
							.form-wrap.form-wrap-outside
								label.form-label-outside(for="contact-email2") E-mail
								input#contact-email2.form-input(type="email" name="email" data-constraints="@Required @Email")
							button(type="submit").btn.btn-sm.btn-primary.btn-icon.btn-icon-left.btn-shadow.btn-rect.offset-top-15.offset-xl-top-0
								span.icon.icon-md.mdi-email-outline
								span  subscribe

		// Page Footer
		footer.page-foot.section-50
			p.privacy
				| SeoAgent &#169;
				=" "
				span(class="copyright-year")
				| .
				=" "
				a(href="privacy.html") Privacy Policy