extends  ../_skeleton

block variables
	- var activeIndex = 7
	- var page_active="Masonry Blog"
	- var page_active_h1="Masonry Blog"

block title
	title Masonry Blog

block page
	// Page Header
	include ../elements/_header

	+breadcrumbs(2, "Blog")
	include ../sections/blog/_section_masonry_blog-1

	// Page Footer
	include ../elements/_footer