extends  ../_skeleton

block variables
	- var activeIndex = 5
	- var page_active="Partners"
	- var page_active_h1="Partners"

block title
	title Partners

block page
	// Page Header
	include ../elements/_header

	+breadcrumbs(2, "Pages")
	//Section Meet our Partners
	include ../sections/pages/_section_partners_1
	//Section Become a Partner
	include ../sections/pages/_section_partners_2

	// Page Footer
	include ../elements/_footer