extends  ../_skeleton

block variables
	- var activeIndex = 5
	- var page_active="Pricing"
	- var page_active_h1="Pricing"

block title
	title Pricing

block page
	// Page Header
	include ../elements/_header

	+breadcrumbs(2, "Pages")
	//Section Table Pricing
	include ../sections/pages/_section_pricing_1
	//Section Pricing
	include ../sections/pages/_section_pricing_2
	//Section Dark Pricing
	include ../sections/pages/_section_pricing_3
	//Section Modern Pricing
	include ../sections/pages/_section_pricing_4

	// Page Footer
	include ../elements/_footer