extends  ../_skeleton

block variables
	- var activeIndex = 5
	- var page_active="Progress Bars"
	- var page_active_h1="Progress Bars"

block title
	title Progress Bars

block page
	// Page Header
	include ../elements/_header

	+breadcrumbs(2, "Elements")
	//Section Skill Bars
	include ../sections/elements/_section_progress_bars-1
	//Section Count To
	include ../sections/elements/_section_progress_bars-2
	//Section Circle Progress Bars
	include ../sections/elements/_section_progress_bars-3

	// Page Footer
	include ../elements/_footer