extends  ../_skeleton

block variables
	- var activeIndex = 5
	- var page_active="Quote Request"
	- var page_active_h1="Quote Request"

block title
	title Quote Request

block page
	// Page Header
	include ../elements/_header

	+breadcrumbs(2, "Pages")
	include ../sections/pages/_section_quote_1

	// Page Footer
	include ../elements/_footer