extends  ../_skeleton

include ../mixins/_mixin_services
block variables
	- var activeIndex = 3
	- var page_active="Services"
	- var page_active_h1="Services"

block title
	title Services

block page
	// Page Header
	include ../elements/_header

	+breadcrumbs(1, "")
	//Section Professional Assistance
	include ../sections/services/_section_services_1
	//Section All Services
	include ../sections/services/_section_services_2
	// Section Testimonials
	include ../sections/services/_section_services_3

	// Page Footer
	include ../elements/_footer