extends  ../_skeleton

block variables
	- var activeIndex = 5
	- var page_active="Tables"
	- var page_active_h1="Tables"

block title
	title Tables

block page
	// Page Header
	include ../elements/_header

	+breadcrumbs(2, "Elements")
	include ../sections/elements/_section_tables-1

	// Page Footer
	include ../elements/_footer