extends  ../_skeleton

block variables
	- var activeIndex = 5
	- var page_active="Tabs & Accordions"
	- var page_active_h1="Tabs & Accordions"

block title
	title Tabs & Accordions

block page
	// Page Header
	include ../elements/_header

	+breadcrumbs(2, "Elements")
	include ../sections/elements/_section_tabs-1

	// Page Footer
	include ../elements/_footer