extends  ../_skeleton

block variables
	- var activeIndex = 5
	- var page_active="Our Team"
	- var page_active_h1="Our Team"

block title
	title Our Team

block page
	// Page Header
	include ../elements/_header

	+breadcrumbs(2, "Pages")
	//Section 3 Centered Column Layout
	include ../sections/pages/_section_team_1
	//Section 4 Column Layout
	include ../sections/pages/_section_team_2
	//Section 3 Column Layout
	include ../sections/pages/_section_team_3
	//Section
	include ../sections/pages/_section_team_4

	// Page Footer
	include ../elements/_footer