section.section-50.section-lg-120.bg-downriver
	.container
		.row.row-70
			.col-lg-8
				.blog-post.block-round
					img(src="images/default-blog-1-770x470.jpg" alt="" width="770" height="470")
					.caption
						h4.txt-primary Google Rethinking Payday Loans & Doorway Pages?
						.meta.offset-top-20.font-italic
							.block-time.d-sm-inline-block
								span.icon.icon-emerland.icon-md.mdi-calendar-clock.text-middle
								span.text-middle 2 days ago
							.block-author.d-sm-inline-block
								span.icon.icon-emerland.icon-md.mdi-account-outline.text-middle
								a(href="blog-post.html").text-middle.txt-base James Foster
						p.offset-top-26 Best yet, not only does Google maintain their investment in payday loans via LendUp, but there is also a bubble in the personal loans space, so Google will be able to show effectively the same ads for effectively the same service & by the time the P2P loan bubble pops some of the payday lenders will have followed LendUp's lead in re-branding their offers as being something else in name.
						p A user comment on Google's announcement blog post gets right to the point...
						blockquote.quote-3.offset-top-8
							p
								q Are you disgusted by Google's backing of LendUp, which lends money at rates of ~ 395% for short periods of time? Check it out. GV (formerly known as Google Ventures) has an investment in LendUp. They currently hold that position.
					img(src="images/blog-post-1-770x519.jpg" alt="" width="770" height="519")
					.caption
						p Meanwhile, off to revolutionize the next industry by claiming everyone else is greedy and scummy and there is a wholesome way to do the same thing leveraging new technology, when in reality the primary difference between the business models is simply a thin veneer of tech utopian PR misinformation.
						.meta.clearfix.offset-top-27
							.block-tags.pull-sm-left
								span.icon.icon-emerland.icon-md.mdi-tag-outline.text-middle
								a(href="#").font-italic News
								=", "
								a(href="#").font-italic Google
								=", "
								a(href="#").font-italic SEO
							.block-social.pull-sm-right.offset-top-10.offset-md-top-0
								ul.list-inline
									li Share:
									li
										a(href="#").icon.icon-xs.icon-gray.fa-facebook
									li
										a(href="#").icon.icon-xs.icon-gray.fa-twitter
									li
										a(href="#").icon.icon-xs.icon-gray.fa-pinterest-p
									li
										a(href="#").icon.icon-xs.icon-gray.fa-vimeo
									li
										a(href="#").icon.icon-xs.icon-gray.fa-google
									li
										a(href="#").icon.icon-xs.icon-gray.fa-feed

				.block-round.offset-top-30.section-30.inset-sm-left-30.inset-sm-right-30.text-center.text-md-left.inset-left-10.inset-right-10
					h6.font-sec Posted by
					.divider-lg.offset-top-10
					.unit.offset-top-30
						.unit-left
							.round-photo
								img(src="images/index-5-170x170.jpg" alt="" width="170" height="170")
						.unit-body
							h5.text-primary James Foster
							p.offset-top-8 SEO Expert, Marketer
							p.offset-top-19 Born and raised in a small village near Gatwick, James moved to London after graduating from the University of Surrey with a BSc in Business Studies, which is where he fell in love with Marketing. Since graduating, James has worked for a marketing capability consultancy managing a variety of client projects including Aviva, Hewlett Packard, Honda, Tesco and Vodafone.
				.block-round.offset-top-30.section-30.inset-sm-left-30.inset-sm-right-30.inset-left-10.inset-right-10
					h6.font-sec Comments
					.divider-lg.offset-top-10
					.unit.offset-top-30
						.unit-left.round
							img(src="images/blog-post-2-70x70.jpg" alt="" width="70" height="70")
						.unit-body
							p.big.text-primary.fw-b Rebecca Ortiz
							p.offset-top-0.txt-italic.txt-gray 2 minutes ago
							p.offset-top-7 Thanks to the author for such a useful article. It is really important for me to be informed about Google updates.
							a(href="#").link-reply.d-inline-block.offset-top-6
								span.icon.icon-xxs.fa-reply
								span Reply
					.unit.offset-top-23.inset-md-left-70
						.unit-left.round
							img(src="images/blog-post-3-70x70.jpg" alt="" width="70" height="70")
						.unit-body
							p.big.text-primary.fw-b James Foster
							p.offset-top-0.txt-italic.txt-gray 2 minutes ago
							p.offset-top-7 Thank you!
							a(href="#").link-reply.d-inline-block.offset-top-6
								span.icon.icon-xxs.fa-reply
								span Reply
				.block-round.offset-top-30.section-30.inset-sm-left-30.inset-sm-right-30.text-center.text-md-left.inset-left-10.inset-right-10
					h6.font-sec Send a Comment
					.divider-lg.offset-top-10
					// RD Mailform
					form.rd-mailform.offset-top-20
						.row.row-20
							.col-md-6
								.form-wrap.form-wrap-outside
									label.form-label-outside(for="contact-name1") First Name
									input#contact-name1.form-input(type="text" name="name" data-constraints="@Required")
							.col-md-6
								.form-wrap.form-wrap-outside
									label.form-label-outside(for="last-name") Last Name
									input#last-name.form-input(type="text" name="name" data-constraints="@Required")
							.col-md-6
								.form-wrap.form-wrap-outside
									label.form-label-outside(for="contact-email") E-Mail
									input#contact-email.form-input(type="email" name="email" data-constraints="@Required @Email")
							.col-md-6
								.form-wrap.form-wrap-outside
									label.form-label-outside(for="contact-phone") Phone
									input#contact-phone.form-input(type="text" name="phone" data-constraints="@Required @Numeric")
							.col-sm-12
								.form-wrap.form-wrap-outside
									label.form-label-outside(for="contact-message") Message
									textarea#contact-message.form-input(name="message" data-constraints="@Required")
								button(type="submit").btn.btn-primary.btn-sm-2.btn-shadow.btn-rect.btn-icon.btn-icon-left.offset-top-18
									span.icon.icon-white.icon-md.mdi-message-text-outline
									span send
			.col-lg-4
				include ../../elements/_element_sidebar_large