section.section-50.section-lg-120
	.container
		.row.row-80
			.col-lg-8
				h5.txt-gray-darker Button Sizes
				.divider-lg-2.offset-top-10
				.btn-group-custom.offset-md-top-27.offset-top-40
					a(href="#").btn.btn-primary.btn-xs.btn-shadow.btn-rect.btn-icon.btn-icon-left
						span.icon.icon-white.icon-xs.mdi-chart-bar
						span small button
					a(href="#").btn.btn-primary.btn-sm-2.btn-shadow.btn-rect.btn-icon.btn-icon-left
						span.icon.icon-white.icon-md.mdi-account-multiple
						span standard button
					a(href="#").btn.btn-primary.btn-lg.btn-shadow.btn-rect.btn-icon.btn-icon-left
						span.icon.icon-white.icon-md-2.mdi-file-document
						span large button

			.col-lg-8
				h5.txt-gray-darker Button Shapes
				.divider-lg-2.offset-top-10
				.btn-group-custom.offset-md-top-27.offset-top-40
					a(href="#").btn.btn-primary.btn-sm-2.btn-shadow.btn-rect.btn-icon.btn-icon-left
						span.icon.icon-white.icon-md.mdi-account-multiple
						span standard shape
					a(href="#").btn.btn-primary.btn-sm-2.btn-shadow.btn-rect-sm.btn-icon.btn-icon-left
						span.icon.icon-white.icon-md.mdi-account-multiple
						span round shape
					a(href="#").btn.btn-primary.btn-sm-2.btn-shadow.btn-rect-md.btn-icon.btn-icon-left
						span.icon.icon-white.icon-md.mdi-account-multiple
						span circle shape

			.col-lg-8
				h5.txt-gray-darker Buttons without Icons
				.divider-lg-2.offset-top-10
				.btn-group-custom.offset-md-top-27.offset-top-40
					a(href="#").btn.btn-primary.btn-sm-2.btn-shadow.btn-rect
						span simple button
					a(href="#").btn.btn-shake.btn-sm-2.btn-shadow.btn-rect
						span simple button

			.col-lg-8
				h5.txt-gray-darker Buttons without Shadow
				.divider-lg-2.offset-top-10
				.btn-group-custom.offset-md-top-27.offset-top-40
					a(href="#").btn.btn-primary.btn-sm-2.btn-rect
						span simple button
					a(href="#").btn.btn-shake.btn-sm-2.btn-rect
						span simple button

			.col-lg-8
				h5.txt-gray-darker Social Buttons
				.divider-lg-2.offset-top-10
				.btn-group-custom.offset-md-top-27.offset-top-40
					a(href="#").btn.btn-facebook.btn-shadow.btn-round
						span.fa-facebook-f.icon.icon-md
					a(href="#").btn.btn-twitter.btn-shadow.btn-round
						span.fa-twitter.icon.icon-md
					a(href="#").btn.btn-google.btn-shadow.btn-round
						span.fa-google.icon.icon-md
					a(href="#").btn.btn-linkedin.btn-shadow.btn-round
						span.fa-linkedin.icon.icon-md
					a(href="#").btn.btn-instagram.btn-shadow.btn-round
						span.fa-instagram.icon.icon-md
