section.section-50.section-lg-120
	.container
		.row.row-80
			.col-lg-8
				h5.txt-gray-darker Hover Row Table
				.divider-lg-2.offset-top-10
				.table-responsive.offset-top-10
					table.table-hover-custom.table-custom
						tr
							th #
							th First Name
							th Last Name
							th Username
						tr
							td 1
							td Benjamin
							td Turner
							td @benjaminturner
						tr
							td 2
							td Lauren
							td Wood
							td @laurenwood
						tr
							td 3
							td Bryan
							td Vargas
							td @bryanvargas
						tr
							td 4
							td Arthur
							td Henderson
							td @arthurhenderson

			.col-lg-8
				h5.txt-gray-darker Striped Table
				.divider-lg-2.offset-top-10
				.table-responsive.offset-top-10
					table.table-striped-custom.table-custom
						tr
							th #
							th First Name
							th Last Name
							th Username
						tr
							td 1
							td Benjamin
							td Turner
							td @benjaminturner
						tr
							td 2
							td Lauren
							td Wood
							td @laurenwood
						tr
							td 3
							td Bryan
							td Vargas
							td @bryanvargas
						tr
							td 4
							td Arthur
							td Henderson
							td @arthurhenderson


			.col-lg-8
				h5.txt-gray-darker Color Header
				.divider-lg-2.offset-top-10
				.table-responsive.offset-top-20
					table.table-color-header.table-custom
						tr
							th #
							th First Name
							th Last Name
							th Username
						tr
							td 1
							td Benjamin
							td Turner
							td @benjaminturner
						tr
							td 2
							td Lauren
							td Wood
							td @laurenwood
						tr
							td 3
							td Bryan
							td Vargas
							td @bryanvargas
						tr
							td 4
							td Arthur
							td Henderson
							td @arthurhenderson

			.col-lg-8
				h5.txt-gray-darker Condensed Table
				.divider-lg-2.offset-top-10
				.table-responsive.offset-top-10
					table.table-condensed-custom.table-custom
						tr
							th #
							th First Name
							th Last Name
							th Username
						tr
							td 1
							td Benjamin
							td Turner
							td @benjaminturner
						tr
							td 2
							td Lauren
							td Wood
							td @laurenwood
						tr
							td 3
							td Bryan
							td Vargas
							td @bryanvargas
						tr
							td 4
							td Arthur
							td Henderson
							td @arthurhenderson

			.col-lg-8
				h5.txt-gray-darker Bordered Table
				.divider-lg-2.offset-top-10
				.table-responsive.offset-top-30
					table.table-bordered-custom.table-custom
						tr
							th #
							th First Name
							th Last Name
							th Username
						tr
							td 1
							td Benjamin
							td Turner
							td @benjaminturner
						tr
							td 2
							td Lauren
							td Wood
							td @laurenwood
						tr
							td 3
							td Bryan
							td Vargas
							td @bryanvargas
						tr
							td 4
							td Arthur
							td Henderson
							td @arthurhenderson
