section.section-50.section-lg-120
	.container
		.row.row-80
			.col-lg-8
				h1 H1 Montserrat 64px/75px
				p.offset-top-30 We are a full service SEO agency. Our social media experts can help you establish your business objectives, identify your target audience, create engaging and share-worthy content and finally integrate your social media with all other aspects of your online presence.

				h2.offset-top-50.offset-lg-top-80 H2 Montserrat 50px/56px
				p.offset-top-34 We are a full service SEO agency. Our social media experts can help you establish your business objectives, identify your target audience, create engaging and share-worthy content and finally integrate your social media with all other aspects of your online presence.

				h3.offset-top-50.offset-lg-top-80 H3 Montserrat 36px/43px
				p.offset-top-24 We are a full service SEO agency. Our social media experts can help you establish your business objectives, identify your target audience, create engaging and share-worthy content and finally integrate your social media with all other aspects of your online presence.

				h4.offset-top-50.offset-lg-top-80 H4 Montserrat 30px/33px
				p.offset-top-20 We are a full service SEO agency. Our social media experts can help you establish your business objectives, identify your target audience, create engaging and share-worthy content and finally integrate your social media with all other aspects of your online presence.

				h5.txt-gray-darker.offset-top-50.offset-lg-top-80 H5 Montserrat 20px/24px
				p.offset-top-10 We are a full service SEO agency. Our social media experts can help you establish your business objectives, identify your target audience, create engaging and share-worthy content and finally integrate your social media with all other aspects of your online presence.

				h6.txt-gray-darker.fw-n.offset-top-50.offset-lg-top-80 H6 Istok Web 18px/24px
				p.offset-top-14 We are a full service SEO agency. Our social media experts can help you establish your business objectives, identify your target audience, create engaging and share-worthy content and finally integrate your social media with all other aspects of your online presence.

				h5.offset-top-50.offset-lg-top-80.txt-gray-darker Blockquote
				.divider-lg-2.offset-top-10
					blockquote.quote-3.quote-mod-2.offset-top-13
						p
							q We provide our customers with high quality SEO and online marketing services. It allows us to not only increase the awareness of our clients’ brands, it also gives us the opportunity to make the Web better using our solutions.
						p.offset-top-5
							cite James Johnson

			.col-lg-8
				h5.txt-gray-darker HTML Text Elements
				.divider-lg-2.offset-top-10
				p.offset-top-25
					span.txt-emerland Link Text
					=" "
					span.txt-primary Hover Link Text
					=" "
					span.txt-dark Press Link
					=" "
					span We are a full service SEO agency.
					=" "
					span.fw-b This is a bold text
					=" "
					span.font-italic italic text
					=" "
					span Our social media experts can help you establish your business objectives,
					=" "
					span.txt-marked highlighted text
					=" "
					span identify your target audience, create engaging and share-worthy content and finally integrate your social media with all other aspects of your online presence.
					=" "
					span.txt-gray-dark(data-toggle="tooltip" data-placement="top" title="Search Engine Optimization") Tool tips
					=" "
					del strickethrough text
					=" "
					u underlined text.

			.col-lg-8
				h5.txt-gray-darker Unordered and Ordered Lists
				.divider-lg-2.offset-top-10
				p.offset-top-25 Our agency works within many spheres of online marketing providing numerous services including the following ones:
				ul.list-marked.offset-top-8.inset-md-left-40
					li Copywriting;
					li Remarketing;
					li Email marketing;
					li Search engine optimization;
					li Social media management.
				p.offset-top-10 We hire educated and experienced specialists who know how to improve the online image of your company using:
				ul.list-index.offset-top-8.inset-md-left-40
					li.list-index-counter Keyword research;
					li.list-index-counter SEO strategy;
					li.list-index-counter Link building services;
					li.list-index-counter Web design;
					li.list-index-counter Web development.


		h5.txt-gray-darker.offset-top-80 Icon list
		.divider-lg-2.offset-top-10
		+icon-list("mdi-shield-outline", "Online Reputation Management", "Reputation management refers to influencing and controlling an individual's or business's reputation.", "mdi-chart-bar", "Conversion Rate<br class='veil reveal-md-inline'> Optimization", "It is a system for increasing the percentage of visitors to a website that can be converted into customers, or more generally, take any desired action on a webpage.", "mdi-share-variant", "Real-Time Social Media Analytics", "Understand social media engagement patterns across your Facebook, Twitter, LinkedIn, Pinterest, and Google+ accounts, and add insights from Google Analytics." )

		h5.txt-gray-darker.offset-top-80 Alternative Icon List
		.divider-lg-2.offset-top-10
		.row.row-50.offset-top-30
			.col-lg-4
				.unit.unit-spacing-sm
					.unit-left
						span.icon.icon-lg-2.icon-yellow.mdi-shield-outline
					.unit-body
						h5.txt-primary Online Reputation Management
						p Reputation management refers to influencing and controlling an individual's or business's reputation.
			.col-lg-4
				.unit.unit-spacing-sm
					.unit-left
						span.icon.icon-lg-2.icon-emerland.mdi-chart-bar
					.unit-body
						h5.txt-primary  Conversion Rate  Optimization
						p It is a system for increasing the percentage of visitors to a website that can be converted into customers, or more generally, take any desired action on a webpage.
			.col-lg-4
				.unit.unit-spacing-sm
					.unit-left
						span.icon.icon-lg-2.icon-shake.mdi-share-variant
					.unit-body
						h5.txt-primary  Real-Time Social Media Analytics
						p Understand social media engagement patterns across your Facebook, Twitter, LinkedIn, Pinterest, and Google+ accounts, and add insights from Google Analytics.


		.row.offset-top-80
			.col-lg-8
				h5.txt-gray-darker Image Centered
				.divider-lg-2.offset-top-10
				img(src="images/typography-1-770x510.jpg" alt="" width="770" height="510").offset-top-30
				p.txt-italic.offset-top-10 Our Agency
				p.offset-top-30 We are a full service SEO agency. Our social media experts can help you establish your business objectives, identify your target audience, create engaging and share-worthy content and finally integrate your social media with all other aspects of your online presence.

		.row.offset-top-80
			.col-lg-8
				h5.txt-gray-darker Image Left
				.divider-lg-2.offset-top-10
				.row.row-30.offset-top-30
					.col-lg-6
						+jpg("typography-1-770x510", "")
					.col-lg-6
						p We are a full service SEO agency. Our social media experts can help you establish your business objectives, identify your target audience, create engaging and share-worthy content and finally integrate your social media with all other aspects of your online presence.
		.row.offset-top-80
			.col-lg-8
				h5.txt-gray-darker Image Right
				.divider-lg-2.offset-top-10
				.row.row-30.offset-top-30
					.col-lg-6
						p We are a full service SEO agency. Our social media experts can help you establish your business objectives, identify your target audience, create engaging and share-worthy content and finally integrate your social media with all other aspects of your online presence.
					.col-lg-6
						+jpg("typography-1-770x510", "")
