section.section-top-50.section-lg-top-120
	.container
		h3.divider-sm.divider-sm-mod-1.text-center Font Awesome
		ul.row.row-30.icon-grid
			li.col-md-4.col-lg-3.col-sm-6
				span.icon.fa-glass.icon-md-1.icon-primary
				span fa-glass  #f000
			li.col-md-4.col-lg-3.col-sm-6
				span.icon.fa-music.icon-md-1.icon-primary
				span fa-music  #f001
			li.col-md-4.col-lg-3.col-sm-6
				span.icon.fa-search.icon-md-1.icon-primary
				span fa-search  #f002
			li.col-md-4.col-lg-3.col-sm-6
				span.icon.fa-envelope-o.icon-md-1.icon-primary
				span fa-envelope-o  #f003
			li.col-md-4.col-lg-3.col-sm-6
				span.icon.fa-heart.icon-md-1.icon-primary
				span fa-heart  #f004
			li.col-md-4.col-lg-3.col-sm-6
				span.icon.fa-star.icon-md-1.icon-primary
				span fa-star  #f005
			li.col-md-4.col-lg-3.col-sm-6
				span.icon.fa-star-o.icon-md-1.icon-primary
				span fa-star-o  #f006
			li.col-md-4.col-lg-3.col-sm-6
				span.icon.fa-user.icon-md-1.icon-primary
				span fa-user  #f007