section.section-50.section-lg-120
	.container
		.row.row-80
			.col-lg-8
				h5.txt-gray-darker.text-center.text-md-left Classic Horizontal Tabs
				.divider-lg-2.offset-top-10

				#tabs-1.tabs-custom.tabs-horizontal.tabs-line.offset-top-30
					// Nav tabs
					ul.nav.nav-tabs
						li.nav-item(role='presentation'): a.nav-link.active(href='#tabs-1-1' data-toggle='tab') SEO
						li.nav-item(role='presentation'): a.nav-link(href='#tabs-1-2' data-toggle='tab') Marketing
						li.nav-item(role='presentation'): a.nav-link(href='#tabs-1-3' data-toggle='tab') Copywriting
						li.nav-item(role='presentation'): a.nav-link(href='#tabs-1-4' data-toggle='tab') Consulting
					.tab-content
						div#tabs-1-1.tab-pane.fade.show.active
							p SEO stands for “search engine optimization.” It is the process of getting traffic from the “free,” “organic,” “editorial” or “natural” search results on search engines. In general, the earlier, and more frequently a site appears in the search results list, the more visitors it will receive.

						div#tabs-1-2.tab-pane.fade
							p Marketing is a widely used term to describe the communication between a company and the consumer audience that aims to increase the value of the company or its merchandise or, at its simplest, raises the profile of the company and its products in the public mind.
						div#tabs-1-3.tab-pane.fade
							p Copywriting is written content conveyed through online media and print materials. Copy is a content primarily used for the purpose of advertising or marketing. This type of written material is often used to persuade a person or group as well as to raise brand awareness.

						div#tabs-1-4.tab-pane.fade
							p Consulting includes providing of expert knowledge to a third party for a fee. It is most often used when a company needs an outside, expert opinion regarding a business decision. A consultant can tell the company what best practices should be followed and what to expect from customers.

			.col-lg-8
				h5.txt-gray-darker.text-center.text-md-left Classic Vertical Tabs
				.divider-lg-2.offset-top-10

				#tabs-2.tabs-custom.tabs-vertical.tabs-line.offset-top-30
					// Nav tabs
					ul.nav.nav-tabs
						li.nav-item(role='presentation'): a.nav-link.active(href='#tabs-2-1' data-toggle='tab') SEO
						li.nav-item(role='presentation'): a.nav-link(href='#tabs-2-2' data-toggle='tab') Marketing
						li.nav-item(role='presentation'): a.nav-link(href='#tabs-2-3' data-toggle='tab') Copywriting
						li.nav-item(role='presentation'): a.nav-link(href='#tabs-2-4' data-toggle='tab') Consulting
					.tab-content
						div#tabs-2-1.tab-pane.fade.show.active
							p SEO stands for “search engine optimization.” It is the process of getting traffic from the “free,” “organic,” “editorial” or “natural” search results on search engines. In general, the earlier, and more frequently a site appears in the search results list, the more visitors it will receive.

						div#tabs-2-2.tab-pane.fade
							p Marketing is a widely used term to describe the communication between a company and the consumer audience that aims to increase the value of the company or its merchandise or, at its simplest, raises the profile of the company and its products in the public mind.
						div#tabs-2-3.tab-pane.fade
							p Copywriting is written content conveyed through online media and print materials. Copy is a content primarily used for the purpose of advertising or marketing. This type of written material is often used to persuade a person or group as well as to raise brand awareness.

						div#tabs-2-4.tab-pane.fade
							p Consulting includes providing of expert knowledge to a third party for a fee. It is most often used when a company needs an outside, expert opinion regarding a business decision. A consultant can tell the company what best practices should be followed and what to expect from customers.

			.col-lg-8
				h5.txt-gray-darker.text-center.text-md-left Vertical Button Tabs
				.divider-lg-2.offset-top-10

				#tabs-3.tabs-custom.tabs-vertical.tabs-corporate.offset-top-30
					// Nav tabs
					ul.nav.nav-tabs
						li.nav-item(role='presentation'): a.nav-link.active(href='#tabs-3-1' data-toggle='tab') SEO
						li.nav-item(role='presentation'): a.nav-link(href='#tabs-3-2' data-toggle='tab') Marketing
						li.nav-item(role='presentation'): a.nav-link(href='#tabs-3-3' data-toggle='tab') Copywriting
						li.nav-item(role='presentation'): a.nav-link(href='#tabs-3-4' data-toggle='tab') Consulting
					.tab-content
						div#tabs-3-1.tab-pane.fade.show.active
							p SEO stands for “search engine optimization.” It is the process of getting traffic from the “free,” “organic,” “editorial” or “natural” search results on search engines. In general, the earlier, and more frequently a site appears in the search results list, the more visitors it will receive.

						div#tabs-3-2.tab-pane.fade
							p Marketing is a widely used term to describe the communication between a company and the consumer audience that aims to increase the value of the company or its merchandise or, at its simplest, raises the profile of the company and its products in the public mind.
						div#tabs-3-3.tab-pane.fade
							p Copywriting is written content conveyed through online media and print materials. Copy is a content primarily used for the purpose of advertising or marketing. This type of written material is often used to persuade a person or group as well as to raise brand awareness.

						div#tabs-3-4.tab-pane.fade
							p Consulting includes providing of expert knowledge to a third party for a fee. It is most often used when a company needs an outside, expert opinion regarding a business decision. A consultant can tell the company what best practices should be followed and what to expect from customers.

			.col-lg-8
				h5.txt-gray-darker.text-center.text-md-left Horizontal Button Tabs
				.divider-lg-2.offset-top-10

				#tabs-4.tabs-custom.tabs-horizontal.tabs-corporate.offset-top-30
					// Nav tabs
					ul.nav.nav-tabs
						li.nav-item(role='presentation'): a.nav-link.active(href='#tabs-4-1' data-toggle='tab') SEO
						li.nav-item(role='presentation'): a.nav-link(href='#tabs-4-2' data-toggle='tab') Marketing
						li.nav-item(role='presentation'): a.nav-link(href='#tabs-4-3' data-toggle='tab') Copywriting
						li.nav-item(role='presentation'): a.nav-link(href='#tabs-4-4' data-toggle='tab') Consulting
					.tab-content
						div#tabs-4-1.tab-pane.fade.show.active
							p SEO stands for “search engine optimization.” It is the process of getting traffic from the “free,” “organic,” “editorial” or “natural” search results on search engines. In general, the earlier, and more frequently a site appears in the search results list, the more visitors it will receive.

						div#tabs-4-2.tab-pane.fade
							p Marketing is a widely used term to describe the communication between a company and the consumer audience that aims to increase the value of the company or its merchandise or, at its simplest, raises the profile of the company and its products in the public mind.
						div#tabs-4-3.tab-pane.fade
							p Copywriting is written content conveyed through online media and print materials. Copy is a content primarily used for the purpose of advertising or marketing. This type of written material is often used to persuade a person or group as well as to raise brand awareness.

						div#tabs-4-4.tab-pane.fade
							p Consulting includes providing of expert knowledge to a third party for a fee. It is most often used when a company needs an outside, expert opinion regarding a business decision. A consultant can tell the company what best practices should be followed and what to expect from customers.

			.col-lg-8
				h5.txt-gray-darker.text-center.text-md-left Accordion
				.divider-lg-2.offset-top-10
				include ../../elements/_element_accordion-1

			.col-lg-8
				h5.txt-gray-darker.text-center.text-md-left Alternative Accordion
				.divider-lg-2.offset-top-10
				#accordion2.card-group-custom.card-group-line.offset-top-30(role='tablist' aria-multiselectable='false')
					+card({
						show: true,
						cardClass: 'card-line',
						parentId: 'accordion2',
						number: '1',
						header: 'What is SEO?'
					})
						p SEO abbreviation stands for search engine optimization. It is a set of techniques that helps your website to be easily found in organic search results on specific websites (Google, Bing, Yahoo and many others).

					+card({
						cardClass: 'card-line',
						parentId: 'accordion2',
						number: '2',
						header: 'How can my company benefit from using your SEO services?'
					})
						p SEO services of our agency were designed to improve the overall image of modern companies. Our services can help your business be promoted on the Internet through leading search engines.

					+card({
						cardClass: 'card-line',
						parentId: 'accordion2',
						number: '3',
						header: 'What are organic search results?'
					})
						p Organic results are links to websites listed on your request after you press “Search” button. There are also paid results that appear on top or side of the page. They include links of websites whose owners paid to appear on search engines.

					+card({
						cardClass: 'card-line',
						parentId: 'accordion2',
						number: '4',
						header: 'What are meta descriptions?'
					})
						p Meta description is the text that can be seen under the website title and link to it in search results. It helps your potential customer to understand whether it is the website he/she is looking for or not.