.row.row-40.text-center
	.col-md-6.col-lg-3
		// Circle Progress Bar
		.progress-bar-circle(data-value="0.6", data-gradient="#ea6c56, #ea6c56", data-empty-fill="", data-size="170")
			span
		h5.offset-xl-top-32.offset-top-15 Design

	.col-md-6.col-lg-3
		// Circle Progress Bar
		.progress-bar-circle(data-value="0.6", data-gradient="#ea6c56, #ea6c56", data-empty-fill="", data-size="170")
			span
		h5.offset-xl-top-32.offset-top-15 Consulting

	.col-md-6.col-lg-3
		// Circle Progress Bar
		.progress-bar-circle(data-value="0.75", data-gradient="#ea6c56, #ea6c56", data-empty-fill="", data-size="170")
			span
		h5.offset-xl-top-32.offset-top-15 SEO

	.col-md-6.col-lg-3
		// Circle Progress Bar
		.progress-bar-circle(data-value="1", data-gradient="#ea6c56, #ea6c56", data-empty-fill="", data-size="170")
			span
		h5.offset-xl-top-32.offset-top-15 Copywriting
