.row.row-30.row-md-35.text-center
	.col-md-6.col-lg-3
		span.icon.icon-yellow.icon-lg.mdi-account-multiple-outline
		// CountTo
		.counter.h3.divider-xs.divider-xs-mod-1.offset-top-5(data-from='0', data-to='1587')
		h5.offset-md-top-36.offset-top-27 Satisfied Customers

	.col-md-6.col-lg-3
		span.icon.icon-emerland.icon-lg.mdi-presentation
		// CountTo
		.counter.h3.divider-xs.divider-xs-mod-1.offset-top-5(data-from='0', data-to='287')
		h5.offset-md-top-36.offset-top-27 Successful Projects

	.col-md-6.col-lg-3
		span.icon.icon-primary.icon-lg.mdi-chart-line
		// CountTo
		.counter.h3.divider-xs.divider-xs-mod-1.offset-top-5.counter-mod-1(data-from='0', data-to='21')
		h5.offset-md-top-36.offset-top-27 Average Conversion

	.col-md-6.col-lg-3
		span.icon.icon-shake.icon-lg.mdi-checkbox-marked-circle-outline
		// CountTo
		.counter.h3.divider-xs.divider-xs-mod-1.offset-top-5.counter-mod-1(data-from='0', data-to='100')
		h5.offset-md-top-36.offset-top-27 Guaranteed Results