.row.row-40.row-md-50.justify-content-center.offset-lg-top-85
	.col-md-6.col-lg-4
		+team_member("images/index-3-170x170.jpg" , "170", "170", "James Johnson", "Founder, SEO Expert" ,"James Johnson is the founder and CEO of SeoAgent. He has been working in Marketing since 2001 and got “bit” by the “SEO & Social” bug in 2005.")
	.col-md-6.col-lg-4
		+team_member("images/index-4-170x170.jpg" , "170", "170", "Nicole Schmidt", "Marketing Analyst" ,"Nicole is a prolific part of the SEO community worldwide and contributes regularly to publications on and offline as well as best practice guides and round tables.")
	.col-md-6.col-lg-4
		+team_member("images/index-5-170x170.jpg" , "170", "170", "Paul Woods", "SEO Expert" ,"Since graduating, Paul has worked for a marketing capability consultancy managing a variety of client projects including Aviva, Hewlett Packard, Honda.")