.row.row-40.row-lg-60.text-center.text-md-left
	.col-lg-6
		.unit.unit-spacing-lg.flex-column.flex-md-row.align-items-center
			.unit-left
				+png("clients-1-150x135")
			.unit-body.inset-lg-right-30
				h5
					a(href="#") Tourner Co.
				a(href="#").d-inline-block.txt-gray-dark www.demolink.org
				p Tourner Co. offers its customers high-quality vintage-styled clothing for men and women.
	.col-lg-6
		.unit.unit-spacing-lg.flex-column.flex-md-row.align-items-center
			.unit-left
				+png("clients-2-150x101")
			.unit-body.inset-lg-right-30
				h5
					a(href="#") Frank’s Co.
				a(href="#").d-inline-block.txt-gray-dark www.demolink.org
				p Owned by Frank Smith, this company sells affordable clothes and footwear all over the world.
	.col-lg-6
		.unit.unit-spacing-lg.flex-column.flex-md-row.align-items-center
			.unit-left
				+png("clients-3-150x129")
			.unit-body.inset-lg-right-30
				h5
					a(href="#") Retro Press
				a(href="#").d-inline-block.txt-gray-dark www.demolink.org
				p Established in 1990s, Retro Press provides businesses worldwide with top-notch merchandise and promotion services.
	.col-lg-6
		.unit.unit-spacing-lg.flex-column.flex-md-row.align-items-center
			.unit-left
				+png("clients-4-150x91")
			.unit-body.inset-lg-right-30
				h5
					a(href="#") Retro Beats
				a(href="#").d-inline-block.txt-gray-dark www.demolink.org
				p As a division of American Records, this record label gives every musician an opportunity to record a first-class single.