.row.row-60.justify-content-center
	.col-md-6.col-lg-4
		+blockquote("I would just like to say thank you for your effective online marketing services, for your friendly and professional support and answers to my questions!", "images/index-7-70x70.jpg", "70", "70", "Frank Harrison", "Manager, demolink.org")

	.col-md-6.col-lg-4
		+blockquote("Thank you for the SEO services you delivered. You helped my website to attract new partners and promote my own services to a greater number of customers.", "images/index-8-70x70.jpg", "70", "70", "Emma Mason", "Designer, demolink.org")

	.col-md-6.col-lg-4
		+blockquote("SEO Agent is the only agency that provides high quality online marketing and promotion services. The members of their team are real professionals in SEO.", "images/index-9-70x70.jpg", "70", "70", "Maria Reyes", "Writer, demolink.org")