.row.row-50.offset-lg-top-85
	.col-md-6.col-lg-3
		+team_member-2("index-3-170x170", "James Johnson", "Founder, SEO Expert", "johnson@demolink.org")
	.col-md-6.col-lg-3
		+team_member-2("index-4-170x170", "Nicole Schmidt", "Marketing Analyst", "schmidt@demolink.org")
	.col-md-6.col-lg-3
		+team_member-2("index-5-170x170", "Paul Woods", "SEO Expert", "woods@demolink.org")
	.col-md-6.col-lg-3
		+team_member-2("team-1-170x170", "Sharon Armstrong", "Manager", "armstrong@demolink.org")