include ../mixins/_ui-card

#accordion1.card-group-custom.card-group-corporate.offset-top-30(role='tablist' aria-multiselectable='false')
	+card({
		show: true,
		cardClass: 'card-corporate',
		parentId: 'accordion1',
		number: '1',
		header: 'What is SEO?'
	})
		p SEO abbreviation stands for search engine optimization. It is a set of techniques that helps your website to be easily found in organic search results on specific websites (Google, Bing, Yahoo and many others).

	+card({
		cardClass: 'card-corporate',
		parentId: 'accordion1',
		number: '2',
		header: 'How can my company benefit from using your SEO services?'
	})
		p SEO services of our agency were designed to improve the overall image of modern companies. Our services can help your business be promoted on the Internet through leading search engines.

	+card({
		cardClass: 'card-corporate',
		parentId: 'accordion1',
		number: '3',
		header: 'What are organic search results?'
	})
		p Organic results are links to websites listed on your request after you press “Search” button. There are also paid results that appear on top or side of the page. They include links of websites whose owners paid to appear on search engines.

	+card({
		cardClass: 'card-corporate',
		parentId: 'accordion1',
		number: '4',
		header: 'What are meta descriptions?'
	})
		p Meta description is the text that can be seen under the website title and link to it in search results. It helps your potential customer to understand whether it is the website he/she is looking for or not.