.row.row-30.row-md-60.row-lg-70.sidebar
	.col-md-12.col-lg-12.order-lg-1
		h6 Search in Blog
		.divider-lg.offset-top-10
		//RD Search
		form.rd-search.rd-navbar-search.offset-top-20(action="search-results.html", method="GET", data-search-live="rd-search-results-live")
			.form-wrap
				label.form-label(for="rd-search-form-input1") Search...
				input(class="form-input" id="rd-search-form-input1" type="text" name="s" autocomplete="off")
				button(type="submit").icon.icon-gray-dark.fa-search

	//5
	.col-md-6.col-lg-12.order-lg-5
		h6 Categories
		.divider-lg.offset-top-10
		ul.list-marked.offset-top-22
			li
				a(href="#") SEO
			li
				a(href="#") Social Media
			li
				a(href="#") Consulting
			li
				a(href="#") Business
			li
				a(href="#") News

	.col-md-6.col-lg-12.order-lg-2
		h6 Archive
		.divider-lg.offset-top-10
		ul.list-marked.offset-top-20
			li
				a(href="#") June 2016
			li
				a(href="#") Aug 2016
			li
				a(href="#") Oct 2016
			li
				a(href="#") Dec 2016
			li
				a(href="#") Feb 2017

		ul.list-marked.offset-top-20
			li
				a(href="#") July 2016
			li
				a(href="#") Sep 2016
			li
				a(href="#") Nov 2016
			li
				a(href="#") Jan 2016
			li
				a(href="#") Mar 2017
	.col-md-12.col-lg-12.order-lg-3
		h6 Recent Blog Posts
		.divider-lg.offset-top-10
		.d-inline-block.offset-top-20
			a(href="blog-post.html").fw-b.big Google Rethinking Payday Loans & Doorway Pages?
		.meta
			.block-time.d-sm-inline-block
				span.icon.icon-emerland.icon-xs.mdi-calendar-clock.text-middle
				span.text-middle 2 days ago
			.block-author.d-sm-inline-block
				span.icon.icon-emerland.icon-xs.mdi-account-outline.text-middle
				a(href="blog-post.html").text-middle James Foster
		.divider-lg-3.offset-top-26
		.d-inline-block.offset-top-20
			a(href="blog-post.html").fw-b.big Benefits of Using Modern Promotion Technologies
		.meta
			.block-time.d-sm-inline-block
				span.icon.icon-emerland.icon-xs.mdi-calendar-clock.text-middle
				span.text-middle 2 days ago
			.block-author.d-sm-inline-block
				span.icon.icon-emerland.icon-xs.mdi-account-outline.text-middle
				a(href="blog-post.html").text-middle James Foster
		.divider-lg-3.offset-top-26
		.d-inline-block.offset-top-20
			a(href="blog-post.html").fw-b.big Extending SEO Services
		.meta
			.block-time.d-sm-inline-block
				span.icon.icon-emerland.icon-xs.mdi-calendar-clock.text-middle
				span.text-middle 2 days ago
			.block-author.d-sm-inline-block
				span.icon.icon-emerland.icon-xs.mdi-account-outline.text-middle
				a(href="blog-post.html").text-middle James Foster
	.col-md-6.col-lg-12.order-lg-4
		h6 Gallery
		.divider-lg.offset-top-10
		// PhotoSwipe
		.row.row-20.sidebar-gallery.offset-top-20.clearfix(data-photo-swipe-gallery='gallery')
			.col-6
				a(data-photo-swipe-item='', data-size='1200x800', href='images/sidebar-1_original.jpg')
					img(width='160', height='160', src='images/sidebar-1-160x160.jpg', alt='')
			.col-6
				a(data-photo-swipe-item='', data-size='1200x800', href='images/sidebar-2_original.jpg')
					img(width='160', height='160', src='images/sidebar-2-160x160.jpg', alt='')
			.col-6
				a(data-photo-swipe-item='', data-size='1200x800', href='images/sidebar-3_original.jpg')
					img(width='160', height='160', src='images/sidebar-3-160x160.jpg', alt='')
			.col-6
				a(data-photo-swipe-item='', data-size='1200x800', href='images/sidebar-4_original.jpg')
					img(width='160', height='160', src='images/sidebar-4-160x160.jpg', alt='')
			.col-6
				a(data-photo-swipe-item='', data-size='1200x800', href='images/sidebar-5_original.jpg')
					img(width='160', height='160', src='images/sidebar-5-160x160.jpg', alt='')
			.col-6
				a(data-photo-swipe-item='', data-size='1200x800', href='images/sidebar-6_original.jpg')
					img(width='160', height='160', src='images/sidebar-6-160x160.jpg', alt='')

	.col-md-6.col-lg-12.order-lg-5
		#fb-root
		// Facebook Feed
		.fb-page-responsive
			.fb-page(data-href='https://www.facebook.com/TemplateMonster', data-tabs='timeline', data-height='', data-small-header='false', data-adapt-container-width='true', data-hide-cover='false', data-show-facepile='true')
				.fb-xfbml-parse-ignore
					blockquote(cite='https://www.facebook.com/TemplateMonster')
						a(href='https://www.facebook.com/TemplateMonster') TemplateMonster

	//7
	.col-md-6.col-lg-12.order-lg-6
		a(href="#").banner
			img(src="images/sidebar-7-340x500.jpg" alt="" width="340" height="500")