.row.justify-content-center
	.col-lg-6
		+progress-bar-linear({
			title: "SEO",
			valueTo: "98"
		})

		+progress-bar-linear({
			mod: 'progress-bar-shake',
			title: "Marketing",
			valueTo: "68"
		})

		+progress-bar-linear({
			mod: 'progress-bar-emerland',
			title: "Copywriting",
			valueTo: "18"
		})

		+progress-bar-linear({
			mod: 'progress-bar-yellow',
			title: "Consulting",
			valueTo: "45"
		})
