footer.page-foot.bg-gray-lighter.section-60
	.container
		.row.row-30.align-items-sm-center.text-center
			.col-md-6.text-md-left
				// RD Navbar Brand
				.rd-navbar-brand
					a.brand-name(href='index.html')
						+png('logo-default-169x42')

			.col-md-6.text-md-right
				p.privacy
					| SeoAgent &#169;
					=" "
					span(class="copyright-year")
					| .
					=" "
					a(href="privacy.html") Privacy Policy