footer.page-foot.bg-downriver.section-60.section-bottom-15.text-center
	.container
		// RD Navbar Brand
		.rd-navbar-brand
			a.brand-name(href='index.html')
				+png('logo-inverse-169x42')

		.offset-top-40
			ul.list-inline
				li
					a(href="#").fa-facebook.icon.icon-gray.icon-xs
				li
					a(href="#").fa-twitter.icon.icon-gray.icon-xs
				li
					a(href="#").fa-pinterest-p.icon.icon-gray.icon-xs
				li
					a(href="#").fa-vimeo.icon.icon-gray.icon-xs
				li
					a(href="#").fa-google.icon.icon-gray.icon-xs
				li
					a(href="#").fa-rss.icon.icon-gray.icon-xs

		.offset-top-60
			p.privacy
				| SeoAgent &#169;
				=" "
				span(class="copyright-year")
				| .
				=" "
				a(href="privacy.html") Privacy Policy