footer.page-foot.bg-downriver.section-87.section-bottom-15
	.container
		.row.row-30.justify-content-center.justify-content-xl-between
			.col-md-7.col-lg-4.col-xl-3.text-center.text-lg-left
				// RD Navbar Brand
				.rd-navbar-brand
					a.brand-name(href='index.html')
						+png('logo-inverse-169x42')
				p.offset-top-23 Our company offers professional SEO services, designed to lift your business up and promote your products to attract potential customers.
			.col-md-6.col-lg-4.col-xl-3
				h6.txt-white Contact Us
				.divider-lg.offset-top-9
				.contact-info.offset-top-22
					.telephone
						span.icon.icon-emerland.icon-sm.mdi-phone.text-middle
						a(href="callto:#").text-middle 1-800-1234-567
					address.address
						span.icon.icon-emerland.icon-sm.mdi-map-marker.text-middle
						.link-block.text-middle
							a(href="#") 2130 Fulton Street San Diego, CA 94117-1080 USA
					.mail
						span.icon.icon-emerland.icon-sm.mdi-email-outline.text-middle
						a(href="mailto:#").text-middle info@demolink.org

			.col-md-6.col-lg-4.col-xl-4
				h6.txt-white Newsletter
				.divider-lg.offset-top-9
				p.offset-top-22 Keep up with our always upcoming product features and technologies. Enter your e-mail and subscribe to our newsletter.
				include _element_subscribe_form
			.col-sm-12.offset-top-55.text-center.text-lg-left
				p.privacy
					| SeoAgent &#169;
					=" "
					span(class="copyright-year")
					| .
					=" "
					a(href="privacy.html") Privacy Policy