- var rd_navbar_data_adjuster={"data-layout":"rd-navbar-fixed","data-sm-layout":"rd-navbar-fixed","data-md-device-layout":"rd-navbar-fixed","data-md-layout":"rd-navbar-fixed","data-lg-device-layout":"rd-navbar-fixed","data-lg-layout":"rd-navbar-fullwidth","data-xl-device-layout":"rd-navbar-static","data-xl-layout":"rd-navbar-static","data-xxl-device-layout":"rd-navbar-static","data-xxl-layout":"rd-navbar-static","data-lg-stick-up-offset":"150px","data-xl-stick-up-offset":"150px","data-xxl-stick-up-offset":"150px"}

header.page-head.header-corporate
	include _navigation