.row.justify-content-center
	.col-lg-6
		p SEO
		// Progress Bar
		.progress-bar-js.progress-bar-horizontal.progress-bar-default.progress-bar-primary(data-value='98', data-stroke='20', data-easing='linear', data-counter='true' data-duration='1000')

		p.offset-top-20 Marketing
		// Progress Bar
		.progress-bar-js.progress-bar-horizontal.progress-bar-default.progress-bar-shake(data-value='68', data-stroke='20', data-easing='linear', data-counter='true' data-duration='1000')

		p.offset-top-20 Copywriting
		// Progress Bar
		.progress-bar-js.progress-bar-horizontal.progress-bar-default.progress-bar-emerland(data-value='18', data-stroke='20', data-easing='linear', data-counter='true' data-duration='1000')

		p.offset-top-20 Consulting
		// Progress Bar
		.progress-bar-js.progress-bar-horizontal.progress-bar-default.progress-bar-yellow(data-value='45', data-stroke='20', data-easing='linear', data-counter='true' data-duration='1000')