section.section-top-50.section-lg-top-120
	h3.divider-sm-mod-1.divider-sm.text-center Cobbles Gallery
	// Isotope Filters
	.isotope-filters.isotope-filters-horizontal
		ul.list-inline
			li
				a.active(data-isotope-filter='*', data-isotope-group='gallery', href='#') All
			li
				a(data-isotope-filter='Category 1', data-isotope-group='gallery', href='#') Marketing
			li
				a(data-isotope-filter='Category 2', data-isotope-group='gallery', href='#') Copywriting
			li
				a(data-isotope-filter='Category 3', data-isotope-group='gallery', href='#') Consulting

	// Isotope Content

	.isotope.isotope-cobbles(data-isotope-layout='masonry', data-isotope-group='gallery', data-column-width='.4')
		.isotope-item.width-40(data-filter='*')
			img(src="images/cobbless-1-768x500.jpg" alt="" width="768" height="500")
			.caption
				h6 SEO Consultants
				a(href="#").btn.btn-white.btn-sm-3.btn-shadow.btn-rect.btn-icon.btn-icon-left
					span.icon.icon-xs.mdi-arrow-right-bold
					span learn more

		.isotope-item.width-20(data-filter='Category 3')
			img(src="images/cobbless-2-384x250.jpg" alt="" width="384" height="250")
			.caption
				h6 SEO Audits
				a(href="#").btn.btn-white.btn-sm-3.btn-shadow.btn-rect.btn-icon.btn-icon-left
					span.icon.icon-xs.mdi-arrow-right-bold
					span learn more

		.isotope-item.width-40(data-filter='Category 3')
			img(src="images/cobbless-3-768x500.jpg" alt="" width="768" height="500")
			.caption
				h6 SEO Packages & Plans
				a(href="#").btn.btn-white.btn-sm-3.btn-shadow.btn-rect.btn-icon.btn-icon-left
					span.icon.icon-xs.mdi-arrow-right-bold
					span learn more

		.isotope-item.width-20(data-filter='Category 2')
			img(src="images/cobbless-6-384x250.jpg" alt="" width="384" height="250")
			.caption
				h6 Web Copywriting
				a(href="#").btn.btn-white.btn-sm-3.btn-shadow.btn-rect.btn-icon.btn-icon-left
					span.icon.icon-xs.mdi-arrow-right-bold
					span learn more


		.isotope-item.width-20(data-filter='Category 3')
			img(src="images/cobbless-4-384x250.jpg" alt="" width="384" height="250")
			.caption
				h6 Keyword Research
				a(href="#").btn.btn-white.btn-sm-3.btn-shadow.btn-rect.btn-icon.btn-icon-left
					span.icon.icon-xs.mdi-arrow-right-bold
					span learn more

		.isotope-item.width-20(data-filter='Category 2')
			img(src="images/cobbless-5-384x250.jpg" alt="" width="384" height="250")
			.caption
				h6 SEO Strategy
				a(href="#").btn.btn-white.btn-sm-3.btn-shadow.btn-rect.btn-icon.btn-icon-left
					span.icon.icon-xs.mdi-arrow-right-bold
					span learn more



		.isotope-item.width-20(data-filter='Category 1')
			img(src="images/cobbless-7-384x250.jpg" alt="" width="384" height="250")
			.caption
				h6 Link Building Services
				a(href="#").btn.btn-white.btn-sm-3.btn-shadow.btn-rect.btn-icon.btn-icon-left
					span.icon.icon-xs.mdi-arrow-right-bold
					span learn more

		.isotope-item.width-20(data-filter='Category 1')
			img(src="images/cobbless-8-384x250.jpg" alt="" width="384" height="250")
			.caption
				h6 CMS SEO Services
				a(href="#").btn.btn-white.btn-sm-3.btn-shadow.btn-rect.btn-icon.btn-icon-left
					span.icon.icon-xs.mdi-arrow-right-bold
					span learn more