section.section-50.section-lg-120
	.container
		h3.divider-sm-mod-1.divider-sm.text-center Masonry Gallery
		// Isotope Filters
		.isotope-filters.isotope-filters-horizontal
			ul.list-inline
				li
					a.active(data-isotope-filter='*', data-isotope-group='gallery', href='#') All
				li
					a(data-isotope-filter='Category 1', data-isotope-group='gallery', href='#') Marketing
				li
					a(data-isotope-filter='Category 2', data-isotope-group='gallery', href='#') Copywriting
				li
					a(data-isotope-filter='Category 3', data-isotope-group='gallery', href='#') Consulting

		// Isotope Content

		.isotope.row.row-30.isotope-masonry(data-isotope-layout='masonry', data-isotope-group='gallery')
			.isotope-item.col-6.col-md-4.col-lg-4(data-filter='*')
				img(src="images/masonry-gallery-1-370x510.jpg" alt="" width="370" height="510")
				.caption
					h6 SEO Consultants
					a(href="#").btn.btn-white.btn-sm-3.btn-shadow.btn-rect.btn-icon.btn-icon-left
						span.icon.icon-xs.mdi-arrow-right-bold
						span learn more

			.isotope-item.col-6.col-md-4.col-lg-4(data-filter='Category 2')
				img(src="images/masonry-gallery-2-370x240.jpg" alt="" width="370" height="240")
				.caption
					h6 SEO Audits
					a(href="#").btn.btn-white.btn-sm-3.btn-shadow.btn-rect.btn-icon.btn-icon-left
						span.icon.icon-xs.mdi-arrow-right-bold
						span learn more


			.isotope-item.col-6.col-md-4.col-lg-4(data-filter='Category 3')
				img(src="images/masonry-gallery-3-370x510.jpg" alt="" width="370" height="510")
				.caption
					h6 SEO Packages & Plans
					a(href="#").btn.btn-white.btn-sm-3.btn-shadow.btn-rect.btn-icon.btn-icon-left
						span.icon.icon-xs.mdi-arrow-right-bold
						span learn more

			.isotope-item.col-6.col-md-4.col-lg-4(data-filter='Category 3')
				img(src="images/masonry-gallery-5-370x510.jpg" alt="" width="370" height="510")
				.caption
					h6 Web Copywriting
					a(href="#").btn.btn-white.btn-sm-3.btn-shadow.btn-rect.btn-icon.btn-icon-left
						span.icon.icon-xs.mdi-arrow-right-bold
						span learn more

			.isotope-item.col-6.col-md-4.col-lg-4(data-filter='Category 2')
				img(src="images/masonry-gallery-4-370x240.jpg" alt="" width="370" height="240")
				.caption
					h6 Keyword Research
					a(href="#").btn.btn-white.btn-sm-3.btn-shadow.btn-rect.btn-icon.btn-icon-left
						span.icon.icon-xs.mdi-arrow-right-bold
						span learn more




			.isotope-item.col-6.col-md-4.col-lg-4(data-filter='Category 1')
				img(src="images/masonry-gallery-6-370x240.jpg" alt="" width="370" height="240")
				.caption
					h6 SEO Strategy
					a(href="#").btn.btn-white.btn-sm-3.btn-shadow.btn-rect.btn-icon.btn-icon-left
						span.icon.icon-xs.mdi-arrow-right-bold
						span learn more