// Parallax
+parallax({
	img: 'about-2-1920x620',
	innerClass: 'parallax-overlay'
})
	.container.section-80.section-lg-120
		.row.justify-content-center.justify-content-xl-end
			.col-xl-6.col-lg-8.txt-white
				h3.divider-sm Our Mission
				p.txt-gray-light SEO Agent is dedicated to serving our clients first and to the best of our abilities. But we also believe that our team is at its best when everyone is happy — and we make sure our team is happy!
				p.txt-gray-light Because our team works so hard for all of our clients, we think they deserve to play hard, too! Our philosophy is that if we take good care of our employees, then they’ll take good care of you. That’s why our team enjoys fun perks found in few other companies, like taking our company kayaks out on the Susquehanna, sipping drafts from our company kegerator, and hanging out in our SEO Agent headquarters. Get a better idea of what we're talking about by checking out our photo journal and watching the videos below!