section.section-50.section-lg-120
	.container
		h3.text-center.divider-sm.divider-sm-mod-1 Some of Your Questions
		.row.justify-content-center.offset-top-57
			.col-lg-8
				include ../../elements/_element_accordion-1