section.section-50.section-lg-80.bg-downriver.section-lg-top-100
	.container
		.row.justify-content-xl-end
			.col-lg-4.text-xl-center.img-width-auto
				+png-2("margin-lg-top-309 veil reveal-lg-inline","quote-1-359x250")
		h3.divider-sm.txt-white.offset-top-40.offset-xl-top-0 Fill The Form
		form.rd-mailform.offset-xl-top-90.rd-mailform-2.offset-top-60
			.row.row-40.row-lg-50.justify-content-xl-between
				.col-md-6.col-xl-9.col-lg-8
					.form-wrap.form-wrap-outside
						label.form-label-outside(for="contact-name1") Site URL
						input#contact-name1.form-input(type="text" name="name" data-constraints="@Required")
				.col-md-6.col-xl-3.col-lg-4
					.form-wrap.form-wrap-outside
						label.form-label-outside(for="last-name") Buy Custom Articles
						input#last-name.form-input(type="text" name="name" data-constraints="@Required")

				.col-md-6.col-xl-3
					+switch(" switch-custom-mod-1","switch", "In-depth Keyword Research")
					+switch("offset-top-17 switch-custom-mod-1","switch1", "Top 5 keyword trends research")
					+switch("offset-top-17 switch-custom-mod-1","switch2", "In-depth competitors research")
				.col-md-6.col-xl-4
					+switch(" switch-custom-mod-1","switch3", "Google Speed and GTMetrix Optimization ")
					+switch("offset-top-17 switch-custom-mod-1","switch4", "Backlinks Suggestion")
					+switch("offset-top-17 switch-custom-mod-1","switch5", "Text Rewrite Service")
				.col-md-6.col-xl-3
					+switch(" switch-custom-mod-1","switch6", "Backlinks Report")
					+switch("offset-top-17 switch-custom-mod-1","switch7", "Content Optimization")
					+switch("offset-top-17 switch-custom-mod-1","switch8", "Site Validation")
			.offset-top-27: .divider-lg-4
			.row.justify-content-xl-end.offset-top-12
				.col-xl-3.text-center.text-xl-left
					button(type="submit").btn.btn-primary.btn-sm-2.btn-shadow.btn-rect.btn-icon.btn-icon-left.offset-top-18
						span.icon.icon-white.icon-md.mdi-calculator
						span calculate

		.row.justify-content-xl-end.offset-top-31
			.col-xl-5.text-center
				.block-round-black.order-block
					h5.txt-base.d-inline-block.text-middle Total:
						=" "
						span.txt-white $3,299
					a(href="#").btn.btn-shake.btn-sm-2.btn-shadow.btn-rect.btn-icon.btn-icon-left
						span.icon.icon-white.icon-md.mdi-checkbox-marked-circle-outline
						span order service