section.section-50.section-lg-120.bg-gray-lighter
	.container
		.row.row-30
			.col-lg-5.inset-lg-right-45
				h3.divider-sm Explore Our Corporate Culture
				p The corporate culture of SEO Agent is based on openness, respect and equality regardless of the religion, sex, race, age etc. These core values help us build a friendly working environment, where all the employees can feel comfortable and significant. We believe that the more comfort you get, the better results you produce.
			.col-lg-7
				.video-block
					button.mdi-play-circle-outline(type='button', data-toggle='modal', data-target='#exampleModal')
					+jpg("careers-2-670x378")

// Modal
#exampleModal.modal.modal-video(tabindex='-1', role='dialog')
	.modal-dialog(role='document')
		// Modal content
		.modal-content
			.modal-header
				h4.modal-title Modal Video
				button.close(type='button', data-dismiss='modal', aria-label='Close')
					span(aria-hidden='true') ×
			.modal-body
				iframe(width='', height='', src='https://www.youtube.com/embed/-AhmuMqZB0s', allowfullscreen='')

			.modal-footer
				button.btn.btn-sm-2.btn-primary.btn-icon.btn-icon-left.btn-shadow.btn-rect(type='button', data-dismiss='modal') Close