section.section-bottom-50.section-lg-bottom-120
	.container
		h3.text-center.divider-sm.divider-sm-mod-1 FAQs
		.row.justify-content-center.offset-lg-top-87
			.col-lg-8
				ul.list-marked.inset-lg-left-43
					li
						a(href="#q1", data-waypoint-to="#q1") Why should I use email marketing services?
					li
						a(href="#q2", data-waypoint-to="#q2") Where can I find original articles for my website?
					li
						a(href="#q1", data-waypoint-to="#q1") How many keywords should use on my website?
					li
						a(href="#q2", data-waypoint-to="#q2") Will I get results from SEO soon enough?
					li
						a(href="#q2", data-waypoint-to="#q2") Do I have to know how to code to promote my website?


				h6#q1.offset-top-55 Why should I use email marketing services?
				p.offset-top-10 Email marketing is a great instrument when you want to extend your customer base or inform your current customers about any special offers available on your website or your product range extension.

				h6#q2.offset-lg-top-62.offset-top-30 Where can I find original articles for my website?
				p.offset-top-10 Our copywriters can provide you with any kind of articles for your website or e-mail campaign.

				h6#q3.offset-lg-top-62.offset-top-30 How many keywords should use on my website?
				p.offset-top-10 The optimal number of keywords is determined by your website, its type and other important factors. Unfortunately, no one can tell you what number of keywords to use. However, if you need a consultation, you can always refer to our SEO department. We can answer any question concerning search engine optimization of your website. You can also use our services if you want professional assistance in online marketing and promotion.

				h6#q4.offset-lg-top-62.offset-top-30 Do I have to know how to code to promote my website?
				p.offset-top-10 Using coding is not necessary if you want to promote your site with the help of search engines. You can  use assistance of our specialists.

				h6#q5.offset-lg-top-62.offset-top-30 Will I get results from SEO soon enough?
				p.offset-top-10 The results of optimization usually depend on some factors that include the quality of your website content, its resonation with your audience, and the size of your website.