section
	.container-fluid.inset-left-0.inset-right-0
		.row.no-gutters
			.col-sm-6.col-md-4.col-xl-2
				+team_member-4("team-5-320x480", "James Johnson","Founder, SEO Expert" )
			.col-sm-6.col-md-4.col-xl-2
				+team_member-4("team-6-320x480", "Nicole Schmidt","Marketing Analyst" )
			.col-sm-6.col-md-4.col-xl-2
				+team_member-4("team-7-320x480", "Paul Woods","SEO Expert" )
			.col-sm-6.col-md-4.col-xl-2
				+team_member-4("team-8-320x480", "Sharon Armstrong","Manager" )
			.col-sm-6.col-md-4.col-xl-2
				+team_member-4("team-9-320x480", "Judith Fuller","SEO Expert" )
			.col-sm-6.col-md-4.col-xl-2
				+team_member-4("team-10-320x480", "Jason Murray","Designer" )