section.section-50.section-lg-120.bg-downriver
	.container
		h3.text-center.divider-sm.divider-sm-mod-1.txt-white Testimonials
		.row.row-40
			.col-md-6.col-lg-3.text-center.img-width-auto
				+png("clients-8-240x206")
				h5.txt-yellow.offset-top-20
					a(href="#") Retro Press
				a(href="#").txt-gray-dark.offset-top-14.d-inline-block demolink.org
			.col-md-6.col-lg-4
				p.txt-gray-dark Retro Press helps customers worldwide to promote their businesses and achieve the desired level of quality and safety for their products, assets and processes; to protect their brands and enable their success in the global marketplace. The company is committed to support and add value for modern businesses located in and out of the US. The innovative solutions of Retro Press allow facilitating their customers’ success in the global marketplace and providing their customers with confidence. By leveraging the local service and global network, this company enables customers to dedicate their primary energies to their core business activities.
			.col-lg-5.col-md-12
				blockquote.quote-3.quote-3-mod-1
					p
						q Thank you very much for your amazing services. You managed to promote my website in leading search engines very quickly and provided the fastest support ever.
				blockquote.quote-3.quote-3-mod-1.offset-lg-top-13
					p
						q Great agency! Your prompt advice became a pleasant surprise for me and my company. Your marketing services are invaluable! Thank you very much!