section.section-top-50.section-lg-top-120
	.container
		h3.text-center.divider-sm.divider-sm-mod-1 Table Pricing
		.row.justify-content-center.offset-top-62
			.col-lg-10
				.table-responsive.offset-top-10
					table.table-hover-custom.table-custom.table-custom-2
						tr
							th
							th Personal
							th Professional
							th Business
							th Gold
						tr
							td Free consultation
							td +
							td +
							td +
							td +
						tr
							td Search engine optimization
							td +
							td +
							td +
							td +
						tr
							td Social media management
							td -
							td +
							td +
							td +
						tr
							td Remarketing
							td -
							td -
							td +
							td +
						tr
							td Content management
							td -
							td -
							td -
							td +
						tr.txt-gray-darker
							td
							td
								p $0.00
								a(href="#").btn.btn-sm.btn-primary.btn-shadow.btn-rect.offset-top-10
									span free

							td
								p $29.00
								a(href="#").btn.btn-sm.btn-primary.btn-shadow.btn-rect.offset-top-10
									span buy now
							td
								p $39.00
								a(href="#").btn.btn-sm.btn-primary.btn-shadow.btn-rect.offset-top-10
									span buy now
							td
								p $49.00
								a(href="#").btn.btn-sm.btn-primary.btn-shadow.btn-rect.offset-top-10
									span buy now