section.section-top-50.section-lg-top-120
	.container
		.row.row-30
			.col-lg-4.order-lg-2.section-md-bottom-80
				h3.divider-sm Join Our Team
				p Take a job opportunity of a lifetime – join the team of SEO Agent. We cherish active tech savvies willing to work on projects of any type and complexity. If you are enthusiastic about tech innovations and ready to make impactful decisions, feel free to send us your CV. We are interested in hiring professionals for a long term and also provide an opportunity of remote work.
				a(href="#").btn.btn-sm.btn-primary.btn-icon.btn-icon-left.btn-shadow.btn-rect.offset-top-30
					span.icon.icon-md.mdi-check-all
					span  get started now
			.col-lg-8.img-width-auto.order-lg-1.img-flex-bottom
				+png-2("","careers-1-700x541")