section.section-top-50.section-lg-top-120
	.container
		h3.text-center.divider-sm.divider-sm-mod-1 Dark Pricing
		.row.row-30
			.col-md-6.col-xl-3
				.pricing-table-2
					.pricing-table-2-head
						h5 Personal
					.pricing-table-2-body
						ul.text-center
							li.txt-white
								span SEO strategy
							li.txt-white-20
								span Keyword research
							li.txt-white-20
								span Copywriting
							li.txt-white-20
								span Website design
						.price
							.h3 19.00/
								span month
						a(href="#").btn.btn-sm.btn-primary.btn-icon.btn-icon-left.btn-shadow.btn-rect.offset-top-20
							span.icon.icon-md.fa-shopping-cart
							span  buy now

			.col-md-6.col-xl-3
				.pricing-table-2
					.pricing-table-2-head
						h5 Professional
					.pricing-table-2-body
						ul.text-center
							li.txt-white
								span SEO strategy
							li.txt-white
								span Keyword research
							li.txt-white-20
								span Copywriting
							li.txt-white-20
								span Website design
						.price
							.h3 29.00/
								span month
						a(href="#").btn.btn-sm.btn-primary.btn-icon.btn-icon-left.btn-shadow.btn-rect.offset-top-20
							span.icon.icon-md.fa-shopping-cart
							span  buy now


			.col-md-6.col-xl-3
				.pricing-table-2
					.pricing-table-2-head
						h5 Business
					.pricing-table-2-body
						ul.text-center
							li.txt-white
								span SEO strategy
							li.txt-white
								span Keyword research
							li.txt-white
								span Copywriting
							li.txt-white-20
								span Website design
						.price
							.h3 39.00/
								span month
						a(href="#").btn.btn-sm.btn-primary.btn-icon.btn-icon-left.btn-shadow.btn-rect.offset-top-20
							span.icon.icon-md.fa-shopping-cart
							span  buy now

			.col-md-6.col-xl-3
				.pricing-table-2
					.pricing-table-2-head
						h5 Gold
					.pricing-table-2-body
						ul.text-center
							li.txt-white
								span SEO strategy
							li.txt-white
								span Keyword research
							li.txt-white
								span Copywriting
							li.txt-white
								span Website design
						.price
							.h3 49.00/
								span month
						a(href="#").btn.btn-sm.btn-primary.btn-icon.btn-icon-left.btn-shadow.btn-rect.offset-top-20
							span.icon.icon-md.fa-shopping-cart
							span  buy now
