section.section-xl-120.section-50
	.container.sitemap
		.row.row-50
			.col-sm-6.col-lg-3
				h4.txt-primary
					a(href='index.html') Home
				h4.offset-top-60 Pages
				h6.font-sec.txt-gray-dark.offset-top-17 Pages 1
				ul.list-marked.offset-top-21.inset-xl-left-30
					li
						a(href='clients.html') Clients
					li
						a(href='partners.html') Partners
					li
						a(href='privacy.html') Terms of Use
					li
						a(href='sitemap.html') Sitemap
					li
						a(href='404.html') 404 Page
					li
						a(href='503.html') 503 Page
					li
						a(href='quote.html') Quote Request
					li
						a(href='team.html') Our Team
					li
						a(href='team_member.html') Team Member page

			.col-sm-6.col-lg-3
				h4.txt-primary
					a(href='about.html') About
				h6.font-sec.txt-gray-dark.offset-md-top-112.offset-top-40 Pages 2
				ul.list-marked.offset-top-21.inset-xl-left-30
					li
						a(href='careers.html') Careers
					li
						a(href='faq.html') FAQ Page
					li
						a(href='pricing.html') Pricing
					li
						a(href='coming.html') Coming Soon
					li
						a(href='maintenance.html') Maintenance Page
					li
						a(href='construction.html') Under Construction
					li
						a(href='login.html') Login/Register
					li
						a(href='single_project.html') Single Project Page
					li
						a(href='services.html') Services
					li
						a(href='analysis.html') Free Site Analysis

			.col-sm-6.col-lg-3
				h4.txt-primary
					a(href='projects.html') Our Projects
				h6.font-sec.txt-gray-dark.offset-lg-top-112.offset-top-40 Layouts
				ul.list-marked.offset-top-21.inset-xl-left-30
					li
						a(href='corporate_header.html') Corporate Header, Light Widget Footer
					li
						a(href='transparent_header.html') Transparent Header, Dark Widget Footer
					li
						a(href='center_header.html') Center Header, Dark Center Footer
					li
						a(href='minimal_header.html') Minimal Header, Dark Minimal Footer
					li
						a(href='hamburger.html') Hamburger Menu, Light Minimal Footer
					li
						a(href='corporate_header_2.html') Corporate Header, Light Center Footer

			.col-sm-6.col-lg-3
				h4.txt-primary
					a(href='contacts.html') Contacts
				h6.font-sec.txt-gray-dark.offset-lg-top-112.offset-top-40 Elements
				ul.list-marked.offset-top-21.inset-xl-left-30
					li
						a(href='typography.html') Typography
					li
						a(href='tabs.html') Tabs and Accordions
					li
						a(href='icons.html') Icons
					li
						a(href='buttons.html') Buttons
					li
						a(href='grid.html') Grid
					li
						a(href='tables.html') Tables
					li
						a(href='forms.html') Forms
					li
						a(href='progress_bars.html') Progress Bars

		.row.row-50.offset-top-58
			.col-sm-6.col-lg-3
				h4.txt-primary
					a(href='services.html') Services
				ul.list-marked.offset-top-21.inset-xl-left-30
					li
						a(href='search_engine.html') Search Engine Optimization
					li
						a(href='social_media.html') Social Media Management
					li
						a(href='mail_marketing.html') Email Marketing
					li
						a(href='management.html') Brand Reputation Management
					li
						a(href='web_design.html') Web Design and Development
					li
						a(href='content_marketing.html') Content Marketing
					li
						a(href='advertising.html') PPC Advertising Campaigns
					li
						a(href='contextual.html') Contextual Advertising
					li
						a(href='local_seo.html') Local SEO
			.col-sm-6.col-lg-3
				h4.txt-primary Gallery
				ul.list-marked.offset-top-21.inset-xl-left-30
					li
						a(href='grid_gallery.html') Grid Gallery
					li
						a(href='no_padding.html') Gallery without Padding
					li
						a(href='cobbles.html') Cobbles Gallery
					li
						a(href='masonry_gallery.html') Masonry Gallery
			.col-sm-6.col-lg-3
				h4.txt-primary Blog
				ul.list-marked.offset-top-21.inset-xl-left-30
					li
						a(href='default_blog.html') Classic Blog
					li
						a(href='grid_blog.html') Grid Blog
					li
						a(href='masonry_blog.html') Masonry Blog
					li
						a(href='modern_blog.html') Modern Blog
					li
						a(href='blog-post.html') Post Page
