section.section-50.section-lg-120
	.container
		h3.divider-sm.divider-sm-mod-2.text-center Your Career Starts Here
		.row.row-30
			.col-md-6.col-lg-3
				+career("emerland", "Junior","Designer","San Diego","Full-time","June 13, 2016")
			.col-md-6.col-lg-3
				+career("primary", "Senior","Analyst","San Diego","Full-time","June 13, 2016")
			.col-md-6.col-lg-3
				+career("shake", "Middle","Copywriter","San Diego","Full-time","June 13, 2016")
			.col-md-6.col-lg-3
				+career("primary", "Senior","Developer","San Diego","Full-time","June 13, 2016")

			.col-md-6.col-lg-3
				+career("primary", "Senior","Designer","San Diego","Full-time","June 13, 2016")
			.col-md-6.col-lg-3
				+career("shake", "Middle","Analyst","San Diego","Full-time","June 13, 2016")
			.col-md-6.col-lg-3
				+career("emerland", "Junior","Copywriter","San Diego","Full-time","June 13, 2016")
			.col-md-6.col-lg-3
				+career("shake", "Junior","Developer","San Diego","Full-time","June 13, 2016")