section.section-top-50.section-lg-top-120
	.container
		h3.text-center.divider-sm.divider-sm-mod-2 Pricing
		.row.row-30
			.col-md-6.col-xl-3
				.pricing-table
					.pricing-table-head
						h5 Personal
						.divider-xs-3
						.price
							.h3 19.00/
								span month
					.pricing-table-body
						ul
							li.txt-gray-darker
								span.icon-xxs-2.icon.icon-emerland.fa-check
								span SEO strategy
							li.txt-gray-base
								span.icon-xxs-2.icon.icon-primary.fa-remove
								span Keyword research
							li.txt-gray-base
								span.icon-xxs-2.icon.icon-primary.fa-remove
								span Copywriting
							li.txt-gray-base
								span.icon-xxs-2.icon.icon-primary.fa-remove
								span Website design
						a(href="#").btn.btn-sm.btn-primary.btn-icon.btn-icon-left.btn-shadow.btn-rect.offset-top-30
							span.icon.icon-md.fa-shopping-cart
							span  buy now

			.col-md-6.col-xl-3
				.pricing-table
					.pricing-table-head
						h5 Professional
						.divider-xs-3
						.price
							.h3 29.00/
								span month
					.pricing-table-body
						ul
							li.txt-gray-darker
								span.icon-xxs-2.icon.icon-emerland.fa-check
								span SEO strategy
							li.txt-gray-darker
								span.icon-xxs-2.icon.icon-emerland.fa-check
								span Keyword research
							li.txt-gray-base
								span.icon-xxs-2.icon.icon-primary.fa-remove
								span Copywriting
							li.txt-gray-base
								span.icon-xxs-2.icon.icon-primary.fa-remove
								span Website design
						a(href="#").btn.btn-sm.btn-primary.btn-icon.btn-icon-left.btn-shadow.btn-rect.offset-top-30
							span.icon.icon-md.fa-shopping-cart
							span  buy now


			.col-md-6.col-xl-3
				.pricing-table
					.pricing-table-head
						h5 Business
						.divider-xs-3
						.price
							.h3 39.00/
								span month
					.pricing-table-body
						ul
							li.txt-gray-darker
								span.icon-xxs-2.icon.icon-emerland.fa-check
								span SEO strategy
							li.txt-gray-darker
								span.icon-xxs-2.icon.icon-emerland.fa-check
								span Keyword research
							li.txt-gray-darker
								span.icon-xxs-2.icon.icon-emerland.fa-check
								span Copywriting
							li.txt-gray-base
								span.icon-xxs-2.icon.icon-primary.fa-remove
								span Website design
						a(href="#").btn.btn-sm.btn-primary.btn-icon.btn-icon-left.btn-shadow.btn-rect.offset-top-30
							span.icon.icon-md.fa-shopping-cart
							span  buy now

			.col-md-6.col-xl-3
				.pricing-table
					.pricing-table-head
						h5 Gold
						.divider-xs-3
						.price
							.h3 49.00/
								span month
					.pricing-table-body
						ul
							li.txt-gray-darker
								span.icon-xxs-2.icon.icon-emerland.fa-check
								span SEO strategy
							li.txt-gray-darker
								span.icon-xxs-2.icon.icon-emerland.fa-check
								span Keyword research
							li.txt-gray-darker
								span.icon-xxs-2.icon.icon-emerland.fa-check
								span Copywriting
							li.txt-gray-darker
								span.icon-xxs-2.icon.icon-emerland.fa-check
								span Website design
						a(href="#").btn.btn-sm.btn-primary.btn-icon.btn-icon-left.btn-shadow.btn-rect.offset-top-30
							span.icon.icon-md.fa-shopping-cart
							span  buy now