section.section-50.section-lg-120.bg-gray-lighter
	.container
		h3.divider-sm.divider-sm-mod-1.text-center 3 Column Layout
		.row.row-50.justify-content-center.offset-top-90
			.col-md-6.col-lg-4
				+team_member-3("team-2-100x100","James Johnson","Founder, SEO Expert","James Johnson is the founder and CEO of SeoAgent. He has been working in Marketing since 2001 and got “bit” by the “SEO & Social” bug in 2005.")
			.col-md-6.col-lg-4
				+team_member-3("team-3-100x100","Nicole Schmidt","Marketing Analyst","Nicole is a prolific part of the SEO community worldwide and contributes regularly to publications on and offline as well as best practice guides and round tables.")
			.col-md-6.col-lg-4
				+team_member-3("team-4-100x100","Paul Woods","SEO Expert","Since graduating, Paul has worked for a marketing capability consultancy managing a variety of client projects including Aviva, Hewlett Packard, Honda.")
