section.section-xl-top-120.section-top-50.bg-downriver
	.container
		.row.row-30
			.col-lg-6
				h3.divider-sm.txt-white Economics & Strategy for Business
				p.txt-gray-dark To be successful, your company needs not only to be promoted on the Internet. A successful business owner also has to understand how business and financial strategies work. Let’s examine this question in detail.
			.col-lg-6.text-xl-right
				.d-inline-block.img-width-auto
					+png-2("margin-lg-top-227", "single_project-1-548x602")