section.section-50.section-lg-120
	.container
		.row.justify-content-center.row-30
			.col-lg-7.col-xl-6
				#tabs-1.tabs-custom.tabs-horizontal.tabs-line
					// Nav tabs
					ul.nav.nav-tabs.justify-content-center
						li.nav-item(role='presentation'): a.nav-link.active(href='#tabs-1-1' data-toggle='tab') Login
						li.nav-item(role='presentation'): a.nav-link(href='#tabs-1-2' data-toggle='tab') Register
					// Tab panes
					.tab-content.tab-content-1
						div#tabs-1-1.tab-pane.fade.show.active
							h5.txt-gray-darker.text-center Sign In
							include ../../elements/_element_login_form
						div#tabs-1-2.tab-pane.fade
							h5.txt-gray-darker.text-center Register Form
							// RD Mailform
							form.offset-top-30.rd-mailform(data-form-output="form-output-global", data-form-type='contact', method='post', action='bat/rd-mailform.php')
								.form-wrap.form-wrap-outside
									label.form-label-outside(for="contact-name1") Username
									input#contact-name1.form-input(type="text" name="name" data-constraints="@Required")
								.form-wrap.form-wrap-outside.offset-top-20
									label.form-label-outside(for="contact-email") E-Mail
									input#contact-email.form-input(type="email" name="email" data-constraints="@Required @Email")
								.form-wrap.form-wrap-outside.offset-top-20
									label.form-label-outside(for="password1") Password
									input#password1.form-input(type="password" name="password" data-constraints="@Required")
								.form-wrap.form-wrap-outside.offset-top-20
									label.form-label-outside(for="password2") Password
									input#password2.form-input(type="password" name="password" data-constraints="@Required")
								.form-meta.offset-top-17
									button(type="submit").btn.btn-emerland.btn-sm-2.btn-shadow.btn-rect.btn-icon.btn-icon-left
										span.icon.icon-white.icon-md.mdi-login
										span sign in
									span.text.txt-base or enter with
									.btn-group-custom-1
										a(href="#").btn.btn-facebook.btn-shadow.btn-round
											span.fa-facebook-f.icon.icon-md
										a(href="#").btn.btn-twitter.btn-shadow.btn-round
											span.fa-twitter.icon.icon-md
										a(href="#").btn.btn-google.btn-shadow.btn-round
											span.fa-google.icon.icon-md