section.section-xl-120.section-50
	.container
		.row.row-30
			.col-lg-4.col-md-6
				.team-member-block
					.photo-block
						+jpg("team-member-1-350x350")
					.text-center
						a(href="#").btn.btn-sm.btn-primary.btn-icon.btn-icon-left.btn-shadow.btn-rect.offset-top-30
							span.icon.icon-md.mdi-email-outline
							span  get in touch
						.telephone.offset-top-37
							span.icon.icon-emerland.icon-sm.mdi-phone.text-middle
							=" "
							a(href="callto:#").text-middle.txt-gray-darker 1-800-1234-567
							=", "
							a(href="callto:#").text-middle.txt-gray-darker 1-800-6547-321
						.mail.offset-top-10
							span.icon.icon-emerland.icon-sm.mdi-email-outline.text-middle
							=" "
							a(href="mailto:#").text-middle.txt-gray-darker johnson@demolink.org
						.btn-group-custom-2.offset-top-32
							a(href="#").btn.btn-facebook.btn-shadow.btn-round
								span.fa-facebook-f.icon.icon-md
							a(href="#").btn.btn-twitter.btn-shadow.btn-round
								span.fa-twitter.icon.icon-md
							a(href="#").btn.btn-google.btn-shadow.btn-round
								span.fa-google.icon.icon-md
							a(href="#").btn.btn-linkedin.btn-shadow.btn-round
								span.fa-linkedin.icon.icon-md
							a(href="#").btn.btn-instagram.btn-shadow.btn-round
								span.fa-instagram.icon.icon-md

			.col-lg-8.text-center.text-lg-left
				.inset-lg-left-30
					h3 James Johnson
					p.txt-italic.divider-sm.divider-sm-mod-4.offset-top-0 Founder, SEO Expert
					p.offset-lg-top-96.offset-top-57 James is a former lawyer with two law degrees and barrister training under his belt. He found his way into marketing as a geeky hobby. Having worked part-time at a full service digital agency during his legal training, he’d rank his friends’ websites for competitive legal terms just to see if he could. Eventually, solicitors noticed and requested that he’d start offering consultancy services. Since 2008, he has worked on accounts of all sizes from two-person companies to household names.
					p He’s worked at two full-service agencies and an organic marketing agency; firstly as a SEO Exec, then Technical Lead and most recently Head of Search. After substantially growing the search department at his last agency, James moved on to head up the search team here at SEO Agent.
					.row.offset-top-30
						.col-lg-9.text-left
							+progress-bar-linear({
								title: "SEO",
								valueTo: "98"
							})

							+progress-bar-linear({
								mod: 'progress-bar-shake',
								title: "Marketing",
								valueTo: "68"
							})

							+progress-bar-linear({
								mod: 'progress-bar-emerland',
								title: "Copywriting",
								valueTo: "18"
							})

							+progress-bar-linear({
								mod: 'progress-bar-yellow',
								title: "Consulting",
								valueTo: "45"
							})