section.section-50.section-lg-120
	.container
		h3.text-center.divider-sm.divider-sm-mod-1 Modern Pricing
		.row.row-30.row-pricing-table.text-center
			.col-md-6.col-xl-3
				.pricing-table-3
					.pricing-table-3-head
						h5 Personal
						.divider-xs-4
					.pricing-table-3-body
						ul.text-center
							li.txt-gray-darker
								span SEO strategy
							li.txt-gray-darker-35
								span Keyword research
							li.txt-gray-darker-35
								span Copywriting
							li.txt-gray-darker-35
								span Website design
						h5.price-small.txt-gray-dark $25.00/month
						.price
							.h3 19.00/
								span month
						a(href="#").btn.btn-sm.btn-primary.btn-icon.btn-icon-left.btn-shadow.btn-rect.offset-top-15
							span.icon.icon-md.fa-shopping-cart
							span  buy now

			.col-md-6.col-xl-3
				.pricing-table-3
					.pricing-table-3-head
						h5 Professional
						.divider-xs-4
					.pricing-table-3-body
						ul.text-center
							li.txt-gray-darker
								span SEO strategy
							li.txt-gray-darker
								span Keyword research
							li.txt-gray-darker-35
								span Copywriting
							li.txt-gray-darker-35
								span Website design
						h5.price-small.txt-gray-dark $29.00/month
						.price
							.h3 24.00/
								span month
						a(href="#").btn.btn-sm.btn-primary.btn-icon.btn-icon-left.btn-shadow.btn-rect.offset-top-15
							span.icon.icon-md.fa-shopping-cart
							span  buy now


			.col-md-6.col-xl-3
				.pricing-table-3
					.pricing-table-3-head
						h5 Business
						.divider-xs-4
					.pricing-table-3-body
						ul.text-center
							li.txt-gray-darker
								span SEO strategy
							li.txt-gray-darker
								span Keyword research
							li.txt-gray-darker
								span Copywriting
							li.txt-gray-darker-35
								span Website design
						h5.price-small.txt-gray-dark $45.00/month
						.price
							.h3 39.00/
								span month
						a(href="#").btn.btn-sm.btn-primary.btn-icon.btn-icon-left.btn-shadow.btn-rect.offset-top-15
							span.icon.icon-md.fa-shopping-cart
							span  buy now

			.col-md-6.col-xl-3
				.pricing-table-3
					.pricing-table-3-head
						h5 Gold
						.divider-xs-4
					.pricing-table-3-body
						ul.text-center
							li.txt-gray-darker
								span SEO strategy
							li.txt-gray-darker
								span Keyword research
							li.txt-gray-darker
								span Copywriting
							li.txt-gray-darker
								span Website design
						h5.price-small.txt-gray-dark $54.00/month
						.price
							.h3 49.00/
								span month
						a(href="#").btn.btn-sm.btn-primary.btn-icon.btn-icon-left.btn-shadow.btn-rect.offset-top-15
							span.icon.icon-md.fa-shopping-cart
							span  buy now