// Parallax
+parallax({
	img: 'index-15-1920x569',
	innerClass: 'parallax-overlay'
})
	.container.section-50.section-lg-120
		.row
			.col-lg-6.txt-white
				h3.divider-sm.divider-sm-mod-3 Perfect Solution For All Your<br class="veil reveal-md-inline"> Online Marketing Needs
				p.txt-gray-lighter.offset-top-75.offset-lg-top-87  We pride ourselves on delivering compelling, digital marketing solutions. Our winning solutions and experiences help many of our clients interact and engage with their customers in the best possible way.

		a(href="#").btn.btn-sm-3.btn-white.btn-icon.btn-icon-left.btn-shadow.btn-rect.offset-top-32
			span.icon.icon-md.mdi-comment-multiple-outline
			span  free consultation