// Parallax
+parallax({
	img: 'index-2-1920x701',
	innerClass: 'parallax-overlay'
})
	.container.section-80.section-lg-120
		.row
			.col-lg-6.txt-white
				h3.divider-sm Promote Your Brand<br class="veil reveal-md-inline"> With Our Services
				p.txt-gray-light.offset-top-75.offset-lg-top-87  Every company owner wants to see his/her company on a leading position of the industry. We are ready to give your business such advantages as establishment of your business objectives, identification of your target audience, creation of engaging content etc.
				blockquote.quote.inset-lg-left-102.offset-top-25.inset-left-43
					q.h5 We will tailor Social Media Marketing strategies specifically conceived for your brand and your audience.

				a(href="#").btn.btn-sm.btn-primary.btn-icon.btn-icon-left.btn-shadow.btn-rect.offset-top-43
					span.icon.icon-md.mdi-pen
					span  book promotion