section.section-50.section-lg-120.bg-downriver
	.container-fluid.inset-md-left-75.inset-md-right-75
		h3.text-center.divider-sm.divider-sm-mod-2.txt-white Latest Blog Posts
		p.txt-white.text-center.offset-top-88 Discover the latest news in the world of SEO and learn more about some<br class="veil reveal-md-inline"> important tips of promoting your brand online.
		.row.row-30.offset-top-60
			.col-md-6.col-xl-3
				+thumbnail-custom("", "images/index-16-420x300.jpg", "420", "300", "Google Rethinking Payday Loans & Doorway Pages?", "Best yet, not only does Google maintain their investment in payday loans via LendUp, but there is also a bubble in the personal loans space, so Google will be able to show effectively the same ads for effectively the same service & by the time...", "2 days ago", "James Foster")
			.col-md-6.col-xl-3
				+thumbnail-custom("", "images/index-17-420x300.jpg", "420", "300", "Benefits of Using Modern Promotion Technologies", "Technology is constantly changing, and it is obvious it takes our life to a whole new level. As the Internet has already become a powerful instrument of marketing, the technological advancement also plays a great role in promotion as well as in SEO and SMM services. In this article we will unveil how the correct usage of technology can help your business to attract new customers.", "2 days ago", "James Foster")
			.col-md-6.col-xl-3
				+thumbnail-custom("", "images/index-18-420x300.jpg", "420", "300", "Extending SEO Services", "Change creates opportunity - new changes, new channels, new options, new models, and new methods. We have decided extend the range of our SEO services and now we are introducing new set of services connected with paid search, since clearly that is the future of all search marketing. ", "2 days ago", "James Foster")
			.col-md-6.col-xl-3
				+thumbnail-custom("", "images/index-19-420x300.jpg", "420", "300", "How Google Search Works in 2016", "Many years ago we created an infographic about how search works, from the perspective of a content creator, starting with their content & following it through the indexing & ranking process. As users have shifted to mobile devices, the limited screen size of the devices have pushed search engines to squeeze out & displace publishers with their own self-hosted information in an effort to offset the poor usability offered by tiny devices, while ensuring the search habit does not decline.", "2 days ago", "James Foster")
		.text-center.offset-top-60
			a(href="blog.html").btn.btn-sm-3.btn-primary.btn-icon.btn-icon-left.btn-shadow.btn-rect
				span.icon.icon-md.mdi-file-document
				span  view all blog posts