section.section-50.section-lg-120.text-center.bg-gray-lighter
	.container
		h3.divider-sm.divider-sm-mod-1 Our Team
		include ../../elements/_element_our_team
		.offset-top-59
			a(href="team.html").btn.btn-sm-2.btn-primary.btn-icon.btn-icon-left.btn-shadow.btn-rect
				span.icon.icon-md.mdi-account-multiple
				span  view all team members