section.bg-image.bg-image-1.bg-image-1-mod-1.section-50.section-md-237.section-xl-top-237.section-xl-bottom-326.text-center.inset-left-10.inset-right-10
  h2.txt-white We can improve the web<br>  image of your company
  a(href="#").btn.btn-sm.btn-white.btn-icon.btn-icon-left.btn-shadow.btn-border.btn-rect.offset-md-top-64.offset-top-30
    span.mdi-chart-bar.icon.icon-md
    span  free consultation
