section.section-63.bg-downriver
	.container
		.row.row-30
			.col-md-5.text-xl-center.order-md-2
				.d-inline-block.img-width-auto
					+png-2("margin-lg-top-257", "content_marketing-1-289x331")
			.col-md-7.order-md-1
				p.txt-white The content you use is critical to the success of your marketing strategy – everything from online search engine optimization to logo design and even the copywriting of your brochures and business cards. Content strategy is becoming steadily more critical to successful marketing both on and offline and in order to help your growth you need to ensure you have something in place for your business that goes beyond simple blog posts.
				a(href="#").btn.btn-sm.btn-primary.btn-icon.btn-icon-left.btn-shadow.btn-rect.offset-top-30
					span.icon.icon-md.mdi-checkbox-marked-circle-outline
					span  order service