section.section-63.bg-downriver
	.container
		.row.row-30.justify-content-xl-between
			.col-md-5.col-xl-4.text-xl-center.order-md-2
				.d-inline-block.img-width-auto
					+png-2("margin-lg-top-208", "local_seo-1-341x317")
			.col-md-7.order-md-1
				p.txt-white Local SEO increases visibility of your business by driving your website to the top of local listings. If you have a local business, you need geographically-relevant traffic to your site through specifically targeted local rankings that will launch your company to reach the target customer demographic in your market.
				a(href="#").btn.btn-sm.btn-primary.btn-icon.btn-icon-left.btn-shadow.btn-rect.offset-top-30
					span.icon.icon-md.mdi-checkbox-marked-circle-outline
					span  order service