section.section-50.section-lg-120
	.container
		.row.row-30
			.col-lg-6
				.inset-xl-right-30
					+jpg("local_seo_2-540x330")
			.col-lg-6
				p Our agency offers a local SEO search strategy specifically tailored to your location to ensure the right external location signals are sent as well as inbound links, on-page and social signals, and review signals to Google about the locations most relevant to your business. We use marketing strategies that allow you to build a stronger customer base for your business to grow organically.
				p We put great effort to achieve higher rankings in local search results by regularly checking the traffic source and continuously re-evaluating information for accuracy. We create profiles on popular web and social media platforms, and provide useful information to target audiences.
