section.section-50.section-lg-120
	.container
		.row.row-30
			.col-lg-6
				.inset-xl-right-30
					+jpg("content_marketing-2-540x330")
			.col-lg-6
				p Our content experts can help you formulate a comprehensive and effective marketing content for your business, whether you need consumer-targeted content aimed at viral marketing and social sharing or high authority or technical content and online PR in order to establish your company as a leading authority in your market sector.
				ul.list-marked.offset-top-10.inset-xl-left-38
					li Video, image and infographic provision and design services
					li High-quality technical articles and PR material
					li Relationship development with authority websites and bloggers to raise your profile online
					li Fun and exciting consumer content to bring your products to life in the minds and imaginations of your target audience
