section.section-50.section-lg-120
	.container
		.row.row-30
			.col-lg-6
				.inset-xl-right-30
					+jpg("seo_2-540x330")
			.col-lg-6
				h5.txt-gray-darker Keyword Research / Strategy
				.divider-lg-2.offset-top-10
				p.offset-top-20 One of the most important SEO elements are the target keywords. Let our team determine the best strategy for all your link building activities to increase your search engine ranking and organic traffic.
				h5.offset-xl-top-60.txt-gray-darker.offset-top-40 Activity Reports
				.divider-lg-2.offset-top-10
				p.offset-top-20 We provide a detailed report of your website SEO performance evaluation, as well as data about your traffic, top referring keywords and a full explanation of your search engine activity.