section.section-63.bg-downriver
	.container
		.row.row-30
			.col-md-5.text-xl-center.order-md-2
				.d-inline-block.img-width-auto
					+png-2("margin-lg-top-257", "web_design_1-340x331")
			.col-md-7.order-md-1
				p.txt-white Your customers will not give you a second chance to make a first impression. In a digital world, first impressions are vital and an outstanding web design is the key to success. Users enjoy visiting sites that are aesthetically appealing and easy to navigate. Let our team help your site make an outstanding first impression with speed and accessibility.
				a(href="#").btn.btn-sm.btn-primary.btn-icon.btn-icon-left.btn-shadow.btn-rect.offset-top-30
					span.icon.icon-md.mdi-checkbox-marked-circle-outline
					span  order service