section.section-50.section-lg-120
	.container
		.row.row-30
			.col-lg-6
				.inset-xl-right-30
					+jpg("contextual-2-540x330")
			.col-lg-6
				p Contextual advertising is advertising on a website that is targeted to be relevant to the page’s content. Automated systems display ads related to the content that the users of your website check.
				p The most famous example of contextual advertising is Google AdSense. Google robots serve ads relevant to your users. The ads are selected from the inventory of advertisers, who are registered through AdWords.
				p MSN AdCenter and Yahoo! Publisher Network also provide similar contextual advertising services and are valuable alternatives to Google AdSense. To stay informed about shifts in the industry, read our latest article about facts and trends of contextual advertising by James Johnson, our founder or contact one of our consultants.