section.section-50.section-lg-120
	.container
		.row.row-30
			.col-lg-6
				h3.divider-sm Professional Assistance
				p We are the online marketing agency that provides research based and contemporary SEO services; we operate a range of our own subject-specific commercial websites and ecommerce sites. So, we know firsthand what a great feeling it is when organic Search Engine traffic starts delivering traffic growth, new business leads and online sales.
				p We offer a refreshingly transparent approach to online success through sound Search Engine Optimization advice that produces quantifiable, measurable and dependable results for our clients around the world.
				a(href="#").btn.btn-sm.btn-primary.btn-icon.btn-icon-left.btn-shadow.btn-rect.offset-top-30
					span.icon.icon-md.mdi-format-list-bulleted
					span  view all services

			.col-lg-6
				+jpg("services-1-570x381")