section.section-63.bg-downriver
	.container
		.row.row-30
			.col-md-5.text-xl-right.order-md-2
				.d-inline-block.img-width-auto
					img(src="images/management-1-442x326.png" width="442" height="326" alt="").margin-lg-top-313
			.col-md-7.order-md-1
				p.txt-white Reputation management refers to influencing and controlling an individual's or business's reputation. Originally a public relations term, the expansion of the internet and social media, along with reputation management companies, have made it primarily an issue of search results. Online reputation management, sometimes abbreviated as ORM, is primarily concerned with managing the results on websites that evaluate products and services and make recommendations and referrals.
				a(href="#").btn.btn-sm.btn-primary.btn-icon.btn-icon-left.btn-shadow.btn-rect.offset-top-30
					span.icon.icon-md.mdi-checkbox-marked-circle-outline
					span  order service