section.section-50.section-lg-120
	.container
		.row.row-30
			.col-lg-6
				.inset-xl-right-30
					+jpg("advertising-2-541x331")
			.col-lg-6
				p We deliver results that help our clients achieve their business objectives. We manage our clients’ accounts on a daily basis and monitor bid prices and budgets to ensure that we are maximizing ROI.
				p Our outstanding results are due to our complex and tailored approach which includes a detailed overview of our client's business and aspirations for Pay Per Click advertising, as well as a review of options featuring a prioritized list of recommended activities.