section.section-50.section-lg-120.bg-gray-lighter
  .container
    +icon-list("mdi-magnify", "Paid Search Advertising", "Earn a positive ROI through our PPC search advertising. Spend money wisely and use the most targeted and cost effective form of advertising.",
    "mdi-chart-areaspline", "PPC Remarketing", "Turn your valuable 'potential customers' into 'loyal customers'. Our team of professionals will help you re-engage users who have expressed an interest by developing a strategy that will meet all your needs.",
    "mdi-share-variant", "Social Advertising", "Need to generate awareness about your brand, product or service? We’ll develop a social advertising strategy aimed to meet KPIs and your targets." )
