section.section-50.section-lg-120
  .container
    .row.row-30
      .col-lg-6
        .inset-xl-right-30
          +jpg("social_media-1-540x330")
      .col-lg-6
        p We can transform the Social Media Marketing strategies specifically for your customers and for your company’s brand. You’ll get fully supported and managed social programs, content planning (and generation), blogger outreach and video distribution among other services that aim to attract new customers and increase your profitability.
        p Our Social Media Services give you the possibility to connect and share information leading to an increase of the brand’s, product’s or service’s awareness. The results of Social Media Advertising are reflected in the number of re-tweets, shares, comments, likes and views. Social Media Marketing encourages user-generated content from within the most popular social media platforms such as Facebook, Google+, Twitter, Pinterest and LinkedIn.