section.section-50.section-lg-120.bg-gray-lighter
	.container
		h3.divider-sm.divider-sm-mod-1.text-center Full Service Marketing And SEO Agency
		.row.row-30.align-items-stretch
			.col-lg-4.col-md-6
				+services({src:"services-2-240x194",href:"search_engine.html",title:"Search Engine Optimization"})
			.col-lg-4.col-md-6
				+services({src: "services-3-240x194", href: "social_media.html", title: "Social Media Management"})
			.col-lg-4.col-md-6
				+services({src: "services-4-240x194", href: "mail_marketing.html", title: "Email Marketing"})
			.col-lg-4.col-md-6
				+services({src: "services-5-240x194", href: "management.html", title: "Brand Reputation Management"})
			.col-lg-4.col-md-6
				+services({src: "services-6-240x194", href: "web_design.html", title: "Web Design and Development"})
			.col-lg-4.col-md-6
				+services({src: "services-7-240x194", href: "content_marketing.html", title: "Content Marketing Management"})
			.col-lg-4.col-md-6
				+services({src: "services-8-240x194", href: "advertising.html", title: "PPC Advertising Campaigns"})
			.col-lg-4.col-md-6
				+services({src: "services-9-240x194", href: "contextual.html", title: "Contextual Advertising"})
			.col-lg-4.col-md-6
				+services({src: "services-10-240x194", href: "local_seo.html", title: "Local SEO"})