section.section-63
	.container
		.row.row-30
			.col-md-5.text-xl-right.order-md-2
				.d-inline-block.img-width-auto
					+png-2("margin-lg-top-309", "seo_1-470x367")
			.col-md-7.order-md-1
				p Search engine optimization (SEO) is the process of affecting the visibility of a website or a web page in a web search engine's unpaid results — often referred to as "natural", "organic", or "earned" results. In general, the earlier (or higher ranked on the search results page), and more frequently a site appears in the search results list, the more visitors it will receive from the search engine's users, and these visitors can be converted into customers.
				a(href="#").btn.btn-sm.btn-primary.btn-icon.btn-icon-left.btn-shadow.btn-rect.offset-top-30
					span.icon.icon-md.mdi-checkbox-marked-circle-outline
					span  order service