section.section-50.section-lg-120.bg-gray-lighter
	.container
		.row.row-50.text-center
			.col-lg-4.inset-lg-left-38.inset-lg-right-38
				span.icon.icon-lg-round.icon-yellow-round.icon-shadow.mdi-palette
				h5.txt-primary.offset-top-15.offset-lg-top-25 Branding and logo design

			.col-lg-4.inset-lg-left-38.inset-lg-right-38
				span.icon.icon-lg-round.icon-emerland-round.icon-shadow.mdi-bulletin-board
				h5.txt-primary.offset-top-15.offset-lg-top-25 Graphic and UI design

			.col-lg-4.inset-lg-left-38.inset-lg-right-38
				span.icon.icon-lg-round.icon-shake-round.icon-shadow.mdi-cellphone-iphone
				h5.txt-primary.offset-top-15.offset-lg-top-25 Mobile applications design