section.section-50.section-lg-120
	.container
		.row.row-30
			.col-lg-6
				.inset-xl-right-30
					+jpg("mail_marketing-1-540x330")
			.col-lg-6
				p Email marketing provides an effective connection with your targeted audience and gives you the best return on investment. Reach out to your current and potential customers and keep them updated on your company’s latest deals and news.
				p Marketers agree that email is a key to business, especially for ROI and developing long-lasting profitable relationships. A personalized, segmented and targeted email marketing campaign is important for brand awareness and drive conversions.
				p Our experts use tools, strategy, implementation and result tracking in order to achieve the best possible brand engagement.
				p We can take care of your complete email marketing strategy from template design to tracking and reporting.