section.section-63.bg-downriver
	.container
		.row.row-30
			.col-md-5.text-xl-center.order-md-2
				.d-inline-block.img-width-auto
					+png-2("margin-lg-top-257", "advertising-1-275x330")
			.col-md-7.order-md-1
				p.txt-white Our campaign strategies are designed to meet the needs of our clients and their market condition. We provide up-to-date, Pay Per Click services that include: Paid Search Ads, Video Advertising, Display Ads, PPC Remarketing and Social Advertising.
				a(href="#").btn.btn-sm.btn-primary.btn-icon.btn-icon-left.btn-shadow.btn-rect.offset-top-30
					span.icon.icon-md.mdi-checkbox-marked-circle-outline
					span  order service