section.section-63.bg-downriver
	.container
		.row.row-30
			.col-md-5.text-xl-right.order-md-2
				.d-inline-block.img-width-auto
					+png-2("margin-lg-top-257", "contextual-1-350x330")
			.col-md-7.order-md-1
				p.txt-white Contextual advertising is a form of targeted advertising for advertisements appearing on websites or other media, such as content displayed in mobile browsers. The advertisements themselves are selected and served by automated systems based on the identity of the user and the content displayed.
				a(href="#").btn.btn-sm.btn-primary.btn-icon.btn-icon-left.btn-shadow.btn-rect.offset-top-30
					span.icon.icon-md.mdi-checkbox-marked-circle-outline
					span  order service