section.section-50.section-lg-120.bg-gray-lighter
  .container
    +icon-list("mdi-telegram", "Suppression", "No matter how secure and well-placed a brand appears to be, the danger of an online reputation crisis is always lurking. The open nature of modern day communication can quickly damage a brand’s reputation.", "mdi-chart-bar", "Protection", "We work with brands to research, develop, and implement online reputation strategies that protect them against current and future reputation attacks. A company with no reputation protection strategy can get its good name tarnished.", "mdi-share-variant", "Removal", "We help businesses manage online reviews using a combination of proven and proprietary methods. Customer reviews can make or break the online reputation of a company." )

