section.section-63.bg-downriver
	.container
		.row.row-30
			.col-md-5.text-xl-center.order-md-2
				.d-inline-block.img-width-auto
					+png-2("margin-lg-top-232", "mail_marketing-1-330x369")
			.col-md-7.order-md-1
				p.txt-white Email marketing provides an effective connection with your targeted audience and gives you the best return on investment. Reach out to your current and potential customers and keep them updated on your company’s latest deals and news.
				a(href="#").btn.btn-sm.btn-primary.btn-icon.btn-icon-left.btn-shadow.btn-rect.offset-top-30
					span.icon.icon-md.mdi-checkbox-marked-circle-outline
					span  order service