section.section-63.bg-downriver
	.container
		.row.row-30
			.col-md-5.text-xl-right.order-md-2
				.d-inline-block.img-width-auto
					+png-2("margin-lg-top-309", "social_media-1-408x368")
			.col-md-7.order-md-1
				p.txt-white Smart businesses know that social media is a power to be reckoned with: social media channels create a direct line of communication between your company and consumers, and they give anyone with an Internet connection instant access to the latest buzz around your products or services. But social media managers have a million balls to juggle at once, so using that direct line of communication effectively can be a major achievement.
				a(href="#").btn.btn-sm.btn-primary.btn-icon.btn-icon-left.btn-shadow.btn-rect.offset-top-30
					span.icon.icon-md.mdi-checkbox-marked-circle-outline
					span  order service